<section class="container suggest" ng-controller="suggestController">
  <header>
    <div class="suggest-util">
      <ul>
        <li><a href="#">E-mail</a></li>
        <li><a href="#">Print</a></li>
      </ul>
    </div>
    <div class="suggest-txt-area">
      <h2>
        <strong>슈가 <span class="suggest-highlight">추천</span> 보험</strong>은?
        <a href="#">올바른 보험 활용방법 자세히 보기</a>
      </h2>
      <p>
        꼭 가입해야 하는 보험과<br>
        고려해볼만한 보험으로 나누어 추천합니다.
      </p>
    </div>
    <ul class="suggest-premium">
      <li>위험보장 Total<span>{{total_save_money | number}}</span>원</li>
      <li>노후대비 Total<span>{{total_annuity_money | number}}</span>원</li>
    </ul>
  </header>
  <section id="suggestMain">
    <div class="suggest-title mustHave-on">
      <h3><span class="suggest-needs ir">꼭</span> 필요한 보험(Must Have)</h3>
      <span class="align-middle"></span>
    </div>
    <article class="mustHave on">
      <actual-expense></actual-expense>
    </article>
    <article class="mustHave on" ng-hide="userMarride=='미혼' && userSubfamily == '무'" >
      <term-ins></term-ins>
    </article>
    <div class="suggest-title mightBe-on">
      <h3><span class="suggest-think ir">고려</span>해야할 보험(Might be useful)</h3>
      <span class="align-middle"></span>
    </div>
    <article class="mightBe on">
      <ci-ins></ci-ins>
    </article>
    <article class="mightBe on">
      <pension-ins></pension-ins>
    </article>
  </section>
  <footer class="suggest-btn-group">
    <a class="btn">슈가추천결과 E-mail로 받아보기</a>
    <a href="#" class="btn btn-type2" ng-click="signIn()">슈가 회원가입으로 보험 고수되기</a>
  </footer>
</section>