<section id="aboutFinc" ng-controller="aboutFinclController">
  <div class="topImgArea"></div>
  <section>
    <article class="container aboutFincl">
      <h2>Sugar Story</h2>
      <div class="clearfix">
        <div class="txtBox is-Left">
          <p>
            보험에 대해 부정적으로 생각하는 사람이 많습니다.
          </p>
          <p>
            보통 보험은 자발적으로 가입하기 보다는 판매자의 권유에 의해서 가입하는데, 권유에 의해서 무리해서 가입하다 보니
            중간에 해약해 손해를 보기도 하고 어렵고 복잡한 보험상품을 제대로 이해하지 못해 불필요한 상품에 가입하거나
            잘못 가입해 보험의 혜택을 못 본 경험이 있기 때문입니다.
          </p>
          <p>
            그래서 보험을 부정적으로 여기기도 하지만 보험은 꼭 필요한 것 입니다.
          </p>
          <p>
            스스로 감당할 수 없는 위험에 여러 사람이 함께 대비하여<br>
            위험에 대한 부담을 덜고 안정적인 삶을 유지할 수 있게 하는 것이 보험입니다.
          </p>
          <p>
            본래의 취지대로 좋은 보험이 되려면 공급자, 판매자가 아닌 오롯이 소비자 입장에서 생각하고
            시작해야 한다고 생각합니다. 이런 생각을 하는 보험의 전문가들이 모여 Sugar를 만들었습니다.
          </p>
          <p>
            <strong>
              Sugar는 기존 보험이 고집하던 것들에 도전합니다.
            </strong>
          </p>
        </div>
        <figure class="is-Right notiImg">
          <img src="./partials/layout/contents/aboutFincl/img/sugar.png" alt="">
        </figure>
      </div>
    </article>
  </section>
  <section class="bgType">
    <article class="container aboutFincl">
      <h2>Mission? Goal?</h2>
      <ul class="aboutFinclList">
        <li class="clearfix">
          <figure class="is-Left">
            <img src="./partials/layout/contents/aboutFincl/img/sugar1st.png" alt="">
          </figure>
          <div class="txtBox2 is-Right">
            <h3>
              첫째,<br>
              Sugar는 소비자 중심의 투명한 보험시장을 만들고자 합니다.
            </h3>
            <div>
              <h4>
                보험 소비자 관점의 보험 정보를 제공합니다.
              </h4>
              <p>
                보험에 관한 정보는 많습니다. 하지만 대부분 판매자가 만든 판매자 중심의 정보입니다.<br>
                Sugar는 정말 불필요한 보험이 무엇인지, 보험을 어떻게 가입하고 활용해야 효과적인지를 보험 소비자의 입장에서 말합니다.
              </p>
              <p>
                보장이 부족하고 연금 준비가 미흡하다는 말은 보험 공급자들의 논리일 뿐입니다.<br>
                이미 보험 공급자들의 생각에 맞춰진 당신이기에, 그동안 들어보지 못했던 이야기에 놀랄 수도 있습니다.
              </p>
              <p>
                하지만 이것이 소비자가 알아야 할 보험의 본래 모습입니다.<br>
                소비자를 위한 이야기만 하겠습니다.
              </p>
            </div>
            <div>
              <h4>객관적인 가격 비교 정보를 제공합니다.</h4>
              <p>
                물건을 사기 전 온라인에서의 가격비교는 당연한 구매 과정입니다. 하지만 보험에서는 불가능 했습니다.
                물론 보험 가격비교 사이트는 많습니다.<br>
                하지만 사이트에서 보험 가격을 객관적으로 비교해서 보여주는 곳은 단 한 곳도 없습니다.
                개인정보를 남기면 판매원이 판매 상품을 중심으로 보험 견적을 내주고 보험구매를 권하는 또 다른 판매 창구일 뿐이죠.
              </p>
              <p>
                소비자가 원하는 것은 단지 보험 가격입니다.<br>
                슈가는 연락처를 받지 않습니다.<br>
                보험료 산출에 필요한 최소 정보를 바탕으로 보험료를 즉시 보여드립니다.
              </p>
            </div>
          </div>
        </li>
        <li class="clearfix">
          <figure class="is-Left pencil">
            <img src="./partials/layout/contents/aboutFincl/img/sugar2nd.png" alt="">
          </figure>
          <div class="txtBox2 is-Right">
            <h3>
              둘째,<br>
              Sugar는 소비자에게 혁신적인 새로운 보험 경험을 제공하고자 합니다.
            </h3>
            <div>
              <h4>Next Sugar</h4>
              <p>
                보험에 가입하려는 목적은 보험의 혜택을 받기 위해서 입니다.<br>
                현재의 보험 유통 구조에서는 보험 판매가 중요하지 고객 관리와 보상은 뒷전으로 밀려 있습니다.<br>
                모든 금융 서비스 중에서 보험금 청구와 관련된 민원이 가장 많은 것은 보험금 청구 즉, 보험의 혜택을 받는 것에 소비자가 얼마나 불만족 하고 있는 지를
                잘 보여줍니다.
              </p>
              <p>
                슈가는 소비자가 보험의 혜택을 잘 받는 방법이 무엇인지 고민합니다.<br>
                그래서 곧 출시될 Next Sugar 서비스는 소비자가 보험금을 잘 받을 수 있는 통합솔루션입니다.
                서비스 예약하기를 통해 Next Sugar 오픈 시 가장 먼저 경험할 수 있습니다.
              </p>
            </div>
            <div>
              <h4>P2P 보험</h4>
              <p>
                보험은 적은 비용으로 여러 사람이 공동으로 위험에 대비하고자 만들어졌습니다.<br>
                이러한 근본적 원리를 바탕으로 소비자가 직접 참여하는 보험을 만들고자 합니다.
              </p>
              <p>
                지금까지의 보험은 10명이 사고가 날 것에 대비해 소비자에게 보험료를 거두었다가 3명만 사고가 나면
                이로써 발생하는 이익은 모두 보험사에 귀속되었습니다.<br>
                하지만 이렇게 발생하는 이익은 소비자에게 다시 환원되어야 된다고 생각합니다.
              </p>
              <p>
                그래서 슈가는 소비자가 이익을 공유할 수 있는 새로운 보험 모델을 개발하고 이에 대한 특허를 출원했습니다.
              </p>
              <p>
                보험사 협의 및 상품화 과정을 거쳐 이러한 보험을 출시할 것 입니다.
              </p>
            </div>
          </div>
        </li>
      </ul>
    </article>
  </section>
  <section>
    <article class="container aboutFincl">
      <h2>Trust Expert</h2>
      <div class="clearfix">
        <div class="txtBox is-Left">
          <p>
            소비자가 보험에 대해 만족할 수 있는 전에 없던 서비스를 만들기 위해 보험 각 분야의 전문가들이 모여 고민하고 있습니다.
          </p>
          <p>
            보험 상품개발부터 판매, 보상 관리까지 보험 전 영역을 아우르는 소비자 중심의 보험 플랫폼이 되고자 합니다.
            우리는 기존 보험의 관행을 깨뜨리고 소비자 중심의 보험 시장으로 변화시키기 위해 작지만 의미있는 시도를 계속할 것 입니다.
          </p>
        </div>
        <figure class="is-Right notiImg">
          <img src="./partials/layout/contents/aboutFincl/img/trust.png" alt="">
        </figure>
      </div>
    </article>
  </section>
  <section>
    <article class="container aboutFincl lastWrap">
      <h2>Fintech Startup</h2>
      <div class="clearfix">
        <div class="txtBox is-Left">
          <p>
            모바일 결합한 금융은 진화하고 있습니다.<br>
            그동안 불가능 했던 일들이 IT기술과 만나 가능해지고 있습니다.<br>
            가상화폐가 점점 대중화 되고, 인공지능 시스템이 개인의 투자 자문을 하는 시대입니다.
          </p>
          <p>
            최근 몇 년간의 핀테크의 빠른 진화가 보험 분야에는 제대로 적용되지 않았습니다.<br>
            규제 산업이고 구매에 있어서 비자발성이 높은 탓이지만 이제는 보험도 진화해야 합니다.<br>
            IT기술을 통해 소비자에게 더 나은 보험 서비스를 제공할 수 있습니다.
          </p>
          <p>
            보험 구매에서 관리까지 Sugar를 통해 새로운 경험을 할 수 있습니다.
          </p>
        </div>
        <figure class="is-Right notiImg">
          <img src="./partials/layout/contents/aboutFincl/img/fintech.png" alt="">
        </figure>
      </div>
    </article>
  </section>
</section>