<ul class="properInsMenu">
  <li class="tabTitle on">
    <p>
    올바른<br/>
    보험활용<br/>
    방법 I
    </p>
    <ol>
      <li class="dab_btn clickLi on"><a href="#" ng-click="broadcastInsCon1Sub1()">01. 보험으로 큰 위험에 대비하자.</a></li>
      <li class="dab_btn clickLi"><a href="#" ng-click="broadcastInsCon1Sub2()">02. 사회보장보험 고려하자.</a></li>
      <li class="dab_btn clickLi"><a href="#" ng-click="broadcastInsCon1Sub3()">03. 보험 수수료(사업비)를 아끼자.</a></li>
    </ol>
  </li>
  <li class="tabTitle">
    <p>
    올바른<br/>
    보험활용<br/>
    방법 II
    </p>
      <ol>
        <li>01. 어떤보험들이 있나?
        <small>(보험의 종류와 특징)</small>
          <ul class="last_dab">
            <li class="dab_btn clickLi"><a href="#" ng-click="broadcastInsCon1Sub1()">- 건강보험</a></li>
            <li class="dab_btn clickLi"><a href="#" ng-click="broadcastInsCon1Sub1()">- 국민연금</a></li>
            <li class="dab_btn clickLi"><a href="#" ng-click="broadcastInsCon1Sub1()">- 민간보험</a></li>
          </ul>
        </li>
      </ol>
  </li>
  <li class="tabTitle">
    <p>
    올바른<br/>
    보험활용<br/>
    방법 III
    </p>
    <ol>
      <li>01. 무엇에 대비해서 얼마나,
      	<small>어떻게 가입하는게 현명한가?</small>
        <ul class="last_dab">
          <li class="dab_btn on">- 아프거나 다쳤을 때</li>
          <li class="dab_btn">- 갑작스럽게 죽었을 때</li>
          <li class="dab_btn">- 최소한의 경제력을 갖추지<br />&nbsp;&nbsp;&nbsp;못하고 오래살 때</li>
        </ul>
      </li>
    </ol>
  </li>
  <li class="tabTitle">
    <p>
      올바른<br/>
      보험활용<br/>
      방법 IV
    </p>
    <ol>
      <li>01. 보험, 어떻게 가입하는게 현명한가?
        <ul class="last_dab">
          <li class="dab_btn on">- 부가 보험료의 최소화</li>
          <li class="dab_btn">- 순수 보장형 vs 만기 환급형</li>
          <li class="dab_btn">- 납입기간</li>
          <li class="dab_btn">- 갱신 VS 비갱신</li>
          <li class="dab_btn">- 주계약과 특약</li>
        </ul>
      </li>
    </ol>
  </li>
  <li class="tabTitle">
    <p>
      올바른<br/>
      보험활용<br/>
      방법 V
    </p>
    <ol>
      <li><a href="">01. 가입채널</a></li>
    </ol>
  </li>
</ul>