<section id="onAnd" ng-controller="oneAndOneController">
  <div class="myHeader">
    <div class="container myHeader-img"><span class="ir">1:1 게시판 배경 그림</span></div>
  </div>
  <div class="container">
    <div class="oneAnd-tit">
      <h2>
        1:1 게시판
      </h2>
      <p>
        궁금한 사항이 있으신가요?
      </p>
      <p>
        문의하신 내용의 답변은 슈가 홈페이지의 1:1 답변확인에서 확인하실 수 있습니다.
        <span>(고객님의 메일, 또는 상담 서비스로 답변을 받으실 수 있습니다.)</span>
      </p>
    </div>
    <div class="oneAnd-tab">
      <ul>
        <li>1:1 문의 하기</li>
        <li>1:1 답변확인</li>
      </ul>
    </div>
    <div class="oneAnd-con">
      <div class="oneAnd-input">
        <form>
          <div>
            <table>
              <caption>
                문의 내용 입력
              </caption>
              <colgroup>
                <col>
                <col>
              </colgroup>
              <tbody>
              <tr>
                <th>문의 제목</th>
                <td>
                  <input type="text">
                </td>
              </tr>
              <tr>
                <th>문의 내용</th>
                <td>
                  <textarea name="" id="" cols="30" rows="10"></textarea>
                  <span>0/4000byte</span>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
          <div>
            <p>
              고객정보
            </p>
            <table>
              <cpation>
                고객정보입력
              </cpation>
              <colgroup>
                <col>
                <col>
                <col>
              </colgroup>
              <tbody>
              <tr>
                <th>이름</th>
                <td colspan="2"><input type="text"></td>
              </tr>
              <tr>
                <th>답변받기</th>
                <td>
                  <span>
                    <input type="checkbox" id="forEmail" checked>
                    <label for="forEmail">메일로 받기</label>
                  </span>
                  <input type="text">
                  <select>
                    <option value=""></option>
                    <option value="네이버">naver.com</option>
                  </select>
                </td>
                <td>
                  <span>
                    <input type="checkbox" id="forCall" checked>
                    <label for="forCall">상담원 전화통화 연결</label>
                  </span>
                  <select>
                    <option value=""></option>
                    <option value="네이버">naver.com</option>
                  </select>
                  - <input type="text">
                  - <input type="text">
                </td>
              </tr>
              </tbody>
            </table>
          </div>
          <div>
            <p>
              개인정보 수집 및 이용 안내
            </p>
            <div>
              <label for="iAgree"><input type="radio" id="iAgree" checked>동의합니다.</label>
              <label for="iDisAgree"><input type="radio" id="iDisAgree" >동의하지 않습니다.</label>
            </div>
            <div>
              <pre>
                □ 개인정보 수집/이용동의 안내

                본인은 귀사에서 취득한 개인정보 수집 및 활용에 있어 다음의 명시된 내용에 동의합니다.
                - 수집하는 정보 : 이메일 또는 휴대폰번호
                - 이용목적 : 상담신청 및 상담
                - 이용기간 : 이용 동의로 부터 3개월간 보관 후 파기
                 ※ 이용자는 동의거부 권리가 있으며, 동의 거부시 서비스 이용이 불가합니다.
              </pre>
            </div>
          </div>
          <input type="submit" value="수정">
          <input type="button" value="취소">
        </form>
      </div>
      <div>
        <div>
          <table>
            <caption>
              답변확인 게시판 목록
            </caption>
            <colgroup>
              <col>
              <col>
              <col>
              <col>
            </colgroup>
            <thead>
            <tr>
              <th></th>
              <th>제목</th>
              <th>처리상태</th>
              <th>등록일</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="inquiryBoard in inquiryBoardList">
              <td></td>
              <td>{{inquiryBoard.title}}</td>
              <td>{{inquiryBoard.processing}}</td>
              <td>{{inquiryBoard.inputDate}}</td>
            </tr>
            </tbody>
          </table>
        </div>
        <div>
          <ul>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
          </ul>
          <button class="next">다음페이지</button>
          <button class="prev">이전페이지</button>
        </div>
      </div>
      <div>
        <h3>보험 가입 금액을 변경할 수 있나요?</h3>
        <div>
          <div>
            <p>
              치괴 치료는 다른 질환에 비해 국민건강보험이 적용되지 않는 경우가 많고 치료비가 비싸서 많은 부담갑을 줍니다.
            </p>
            <p>
              또 한번 치료했다고 낫는 것이 아니라 꾸준한 관리가 필요한 질환이기도 합니다.
            </p>
            <p>&nbsp;</p>
            <p>
              치아보험은 보험사와 상품에 따라 보장금액과 보장범위가 각각 다르기 때문에 치아보험 가입 시 꼼꼼히 살펴볼 필요가 있습니다.
            </p>
            <p>&nbsp;</p>
            <p>
              가입하실 때 도움을 드리고자 치아보험 가입노하우에 대해 알아보았으니 도움이 되시길 바랍니다.
            </p>
          </div>
          <div>
            <dl>
              <dt>답변</dt>
              <dd>
                치과치료는 다른 질환에 비해 국민건강보험이 적용되지 않는 경우가 많고 치료비가 비싸서 많은 부담감을 줍니다.
                또 한번 치료했다고 낫는 것이 아니라 꾸준한 관리가 필요한 질환이기도 합니다.
              </dd>
            </dl>
          </div>
          <div>
            <p>
              위 답변으로 궁금하신 사항이 해결 되셨나요?<br>
              해결되지 않으셨다면 어떤 답변을 원하셨는지 알려주세요.
            </p>
            <span class="align-middle"></span>
            <button>새 문의 등록</button>
          </div>
          <button>목록</button>
          <button>삭제</button>
        </div>
        <div>
          <input type="text">
          <input type="submit" value="등록하기">
          <input type="button" value="수정">
        </div>
      </div>
    </div>
  </div>
</section>