<article class="wrapper container" ng-controller="recommendController">
  <section id="recommend" class="wrapper row">
    <div class="col-sm-6 forms">
      <ul class="nav nav-tabs type2">
        <li class="btn-tab01 col-sm-4 on"><a href="#"><i></i>STEP</a></li>
        <li class="btn-tab02 col-sm-4 shadow"><a href="#"><i></i>STEP</a></li>
        <li class="btn-tab03 col-sm-4"><a href="#"><i></i>STEP</a></li>
      </ul>
      <div class="form-area on">
        <form class="form-horizontal" role="form">
          <div class="form-group">
            <label class="control-label col-sm-2" for="user">이름</label>
            <div class="col-sm-10 input-area">
              <input type="text" class="form-control" id="user" ng-model="inName" maxlength="12" ng-maxlength="12" placeholder="이름을 입력하세요" >
            </div>
          </div>
          <div class="form-group">
            <p class="control-label col-sm-2">성별</p>
            <ul class="col-sm-10 sex">
              <li class="radio-inline">
                <label for="male" class="radio male">남자</label>
                <input type="radio" id="male" name="gender" ng-model="inSex" value="남자">
              </li>
              <li class="radio-inline">
                <label for="female" class="radio female">여자</label>
                <input type="radio" id="female" name="gender" ng-model="inSex" value="여자">
              </li>
            </ul>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2" for="birth-d">생년월일</label>
            <div class="col-sm-10 input-area">
              <input type="text" class="form-control" id="birth-d" ng-model="inAge" maxlength="8" placeholder="예) 1990212" ng-blur="ageCheck()">
              <p class="notice is-pl">
                <small>
                  주민등록상의 생년월일을 입력하세요<br>
                  정확한 보험료를 보여드리기 위해서 필요합니다.
                </small>
              </p>
            </div>
          </div>
          <div class="form-group">
            <p class="control-label col-sm-2">결혼여부</p>
            <ul class="col-sm-10">
              <li class="radio-inline">
                <label for="married" class="radio type2 married on" ng-click="disableAttr()">기혼</label>
                <input type="radio" id="married" name="marry" ng-model="inMarry" value="기혼">
              </li>
              <li class="radio-inline">
                <label for="single" class="radio type2 single" ng-click="disableAttr()">미혼</label>
                <input type="radio" id="single" name="marry" ng-model="inMarry" value="미혼">
              </li>
            </ul>
          </div>
          <div class="form-group sub-radio married">
            <div class="in-sub">
              <p class="control-label col-sm-2">자녀유무</p>
              <ul class="col-sm-10">
                <li class="radio-inline">
                  <label for="child-has" class="radio type3 addOn" ng-click="disableAttr()">유</label>
                  <input type="radio" id="child-has" name="child" ng-model="inChild" value="유">
                </li>
                <li class="radio-inline">
                  <label for="child-none" class="radio type3 addNot" ng-click="disableRemove()">무</label>
                  <input type="radio" id="child-none" name="child" ng-model="inChild" value="무">
                </li>
              </ul>
            </div>
            <div class="add-area">
              <ul class="childInfo">
                <li ng-repeat="child in childList">
                  <p class="childSex">{{child.sex}}</p>
                  <p>{{child.childAge}}</p>
                </li>
              </ul>
              <div class="addBox">
                <select class="selectbox" ng-model="selectSex">
                  <option value="">성별</option>
                  <option value="남아">남아</option>
                  <option value="여아">여아</option>
                </select>
                <input type="text" placeholder="예) 1990212" maxlength="8" ng-model="newAge">
                <button ng-click="addChild(selectSex, newAge)">자녀추가</button>
              </div>
            </div>
          </div>
          <div class="form-group sub-radio single">
            <div class="in-sub">
              <p class="control-label col-sm-2 notice">부양가족<small>(부모,형제,조부모 등)</small></p>
              <ul class="col-sm-10">
                <li class="radio-inline">
                  <label for="fam-has" class="radio type3 addOn on" ng-click="disableAttr()">유</label>
                  <input type="radio" id="fam-has" name="family" ng-model="inFamily" value="유">
                </li>
                <li class="radio-inline">
                  <label for="fam-none" class="radio type3 addNot" ng-click="disableRemove()">무</label>
                  <input type="radio" id="fam-none" name="family" ng-model="inFamily" value="무">
                </li>
              </ul>
            </div>
            <div class="add-area infamily">
              <label class="control-label col-sm-5" for="fam-use">부양가족을 위한 생활비로 얼마를 지출하십니까?</label>
              <div class="col-sm-7 input-area">
                <input type="text" class="form-control" id="fam-use" ng-model="inExpense" ng-change="disableRemove()" placeholder="예) 120" maxlength="4" >
                <span>만원</span>
              </div>
            </div>
            <p class="notice type2"><small>매월 생활비로 드리는 금액을 만단위로 입력해 주세요.</small></p>
          </div>
        </form>
        <div class="btn-block btn-input">
          <button class="btn btn-next next" disabled>다음 단계</button>
        </div>
      </div>
      <div class="form-area step-2">
        <form class="form-horizontal form-type2" role="form">
          <div class="form-group">
            <label class="control-label col-sm-4" for="salary">월소득</label>
            <div class="col-sm-8 input-area">
              <input type="text" class="form-control" id="salary" ng-model="inSalary" maxlength="4" placeholder="예) 220">
              <span>만원</span>
              <p class="notice"><small>세금을 제외한 통장에 들어오는 금액을 만원 단위로 입력해 주세요.</small></p>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-4 type2" for="employment">최초입사년도/<br>국민연급 가입시기</label>
            <div class="col-sm-8 input-area">
              <input type="text" class="form-control" id="employment" ng-model="inEmployment" maxlength="4" placeholder="예) 1990" ng-blur="jobStartCheck()">
              <span>년도</span>
              <p class="notice"><small>최소 근로소득 또는 사업소득이 발생한 년도를 기입하세요.</small></p>
            </div>
          </div>
          <div class="form-group type-height">
            <p class="control-label is-pl">직업군</p>
            <ul class="jobs">
              <li class="col-sm-6" ng-click="searchDisableRemove()">
                <label for="salarymen" class="radio type4 salarymen">근로소득자</label>
                <input type="radio" id="salarymen" name="joblist" ng-model="inJobs" value="근로소득자">
              </li>
              <li class="col-sm-6" ng-click="searchDisableRemove()">
                <label for="business" class="radio type4 business notice">개인사업자<br><small>(국민연금 지역가입자)</small></label>
                <input type="radio" id="business" name="joblist" ng-model="inJobs" value="개인사업자">
              </li>
              <li class="col-sm-6" ng-click="searchDisableRemove()">
                <label for="housewife" class="radio type4 housewife">전업주부</label>
                <input type="radio" id="housewife" name="joblist" ng-model="inJobs" value="전업주부">
              </li>
              <li class="col-sm-6" ng-click="searchDisableRemove()">
                <label for="otherjobs" class="radio type4 otherjobs notice">공무원,교사,군인<small>(특수직업연금 가입자)</small></label>
                <input type="radio" id="otherjobs" name="joblist" ng-model="inJobs" value="특수직업">
              </li>
            </ul>
            <p class="notice"><small>보험상품, 보장금액, 기간산정을 위하여 필요한 정보입니다.</small></p>
          </div>
        </form>
        <div class="btn-block btn-input">
          <button class="btn btn-prev">이전 단계</button>
          <button class="btn btn-next next2" disabled>다음 단계</button>
        </div>
      </div>
      <div class="form-area step-3">
        <div class="form-type2">
          <form class="form-horizontal" role="form" enctype="multipart/form-data">
            <div class="form-group">
              <label class="control-label col-sm-2" for="qTitle">제목</label>
              <div class="col-sm-10 input-area">
                <input type="text" class="form-control" id="qTitle" maxlength="12" ng-maxlength="12" >
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-2" for="qTxt">문의사항</label>
              <div class="col-sm-10 input-area placeholder">
                <textarea type="text" class="form-control" id="qTxt" maxlength="500" ng-maxlength="500" placeholder="보장비교 분석 요청 시 궁금하신 사항에 대해 남기시면 친절히 답변해 드립니다." ></textarea>
                <span class="is-Static fontS11">500자 이내</span>
              </div>
            </div>
            <div class="form-group type2">
              <label class="control-label col-sm-2" for="upLoad">증권업로드</label>
              <div class="col-sm-10 input-area">
                <div class="form-control">
                  <input type="file" name="filename" id="upLoad">
                  <span class="btn-search">찾기</span>
                </div>
                <div class="upload-list-area">
                  <ul class="upload-list">
                    <li><i></i>images.jpg<button class="del ir">delete</button></li>
                    <li><i></i>images.jpg<button class="del ir">delete</button></li>
                  </ul>
                  <p>
                    * 이미지는 JPG, GIF, PDF 파일로 올려주세요
                  </p>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="btn-block btn-input">
          <button class="btn btn-prev">이전 단계</button>
          <button class="btn btn-search" ng-click="suggest()">내게 맞는 보험 찾기</button>
        </div>
      </div>
    </div>
    <div class="col-sm-6 forms output">
      <form role="form">
        <p class="myContainer"><a href="#" ng-click="infoGet()">내 보관함</a></p>
        <div class="form-txt-board">
          <p class="txt-board">
            <span class="info-txt typeName">{{outName()}}</span> 님은<br>
            <span class="info-txt">{{outSex()}}</span> 이며, <span class="info-txt">{{outAge()}}</span> 세의,<br>
            <span class="info-txt">{{outJob()}}</span> 이며, <span class="info-txt">{{outMarry()}}</span> 입니다.
          </p>
          <div class="btn-block btn-output">
            <input type="submit" class="btn save" value="저장하기">
            <button class="btn btn-search" ng-click="suggest()" disabled>내게 맞는 보험 찾기</button>
          </div>
        </div>
      </form>
      <div class="notice-info">
        <h3>알고하면, <strong>더 큰 <span class="dott">혜</span><span class="dott">택</span></strong></h3>
        <p>
          국내모든보험사 상품 정보를 수집하여 <strong>슈가만의 상품분석 알고리즘</strong>을 통해 최적의 상품군과 가장 저렴한 보험상품을 추천 해 드립니다.
        </p>
      </div>
    </div>
  </section>
</article>