<section>
	<div class="view-top">
	  <div>
		  <h2>
	    	<small>보험회사가</small>
	    	당신에게 <strong>알려주지 않는 진실</strong>
		  </h2>
	  </div>
	</div>
	<div class="view-bottom">
		<div class="view_area">
			<div class="v_title">
			  <h2>"어머님"이라 불러 믿었는데... 보험설계사, 노인 3억 가로</h2>
			  <ul>
			  	<li class="v_infor_date">2016-07-07</li>
	            <li class="v_infor_count">10</li>
			  </ul>
			</div>
			<div class="v_detail">
				<ul class="v_detail_shere">
					<li><a href=""><img src="./partials/layout/contents/tellTruth/img/icon04.gif" alt="좋아요" /></a></li>
					<li><a href=""><img src="./partials/layout/contents/tellTruth/img/icon05.gif" alt="공유하기" /></a></li>
				</ul>
			  <div class="v_detail_text">
			    <p>
			      꼭 가입해야 하는 보험과<br>
			      고려해 볼만한 보험으로 나누어 추천합니다.
			    </p>
			  </div>
			</div>
		</div>
		<div class="view_bottom">
	   	<div class="btn_area">
				<input type="button" class="btn_001" value="이전">
				<input type="button" class="btn_001" value="다음">
				<input type="button" class="btn_004 btn-list" value="목록">
			</div>
	    <div class="submit_box">
		  	<div class="text_submit_textarea">
		    	<textarea rows="" cols=""></textarea>
		    </div>
		    <input type="submit" class="btn_005" value="등록하기">
		  </div>
	    <div>
				<p class="cution">※ 게시판 성격과 맞지 않는 글은 통보 없이 삭제될 수 있습니다.</p>
				<h4>댓글 <span>2</span>개</h4>
				<div class="reply">
					<ul>
						<li>
							<i></i>
							<div class="reply_top">
								<p class="name">박 * 하</p>
								<span class="d001">(2016-07-07)</span>
								<p class="msg">감사합니다. 많은 도움이 되었네요.</p>
							</div>
							<span class="d002"></span>
							<span class="d003">댓글</span>
							<span class="d004">삭제</span>
						</li>
						<li>
							<span class="unrep"></span>
							<i></i>
							<div class="reply_top">
								<p class="name">박 * 하</p>
								<span class="d001">(2016-07-07)</span>
								<p class="msg">감사합니다. 많은 도움이 되었네요.</p>
							</div>
						</li>
					</ul>
				</div>
	    </div>
	  </div>
	 </div>
</section>