<section>
	<div class="view-top">
		<div class="container">
			<h2>
				<small>보험회사가</small>
				당신에게 <strong>알려주지 않는 진실</strong>
			</h2>
		</div>
	</div>
	<div class="container">
		<div class="view_area">
			<div class="v_title">
				<h2 id="view_title">{{view_title}}</h2>
				<ul>
					<li class="v_infor_date" >{{view_date}}</li>
					<li class="v_infor_count" >{{view_count}}</li>
				</ul>
			</div>
			<div class="v_detail">
				<ul class="v_detail_shere">
					<li><a href=""><img src="./partials/layout/contents/tellTruth/img/icon04.gif" alt="좋아요" /></a></li>
					<li><a href=""><img src="./partials/layout/contents/tellTruth/img/icon05.gif" alt="공유하기" /></a></li>
				</ul>
				<div class="v_detail_text" ><div data-ng-bind-html="trustAsHtml(view_content)"></div></div>
				<!--<div class="v_detail_img">-->
					<!--<figure ng-model="view_img">-->
						<!--<img src="{{apiServer}}/{{file_path}}" alt="">-->
					<!--</figure>-->
				<!--</div>-->
			</div>
		</div>
		<div class="view_bottom">
			<div class="btn_area">
				<input type="button" class="btn_001" ng-click="viewContent(view_back_sbidx)" value="이전">
				<input type="button" class="btn_001" ng-click="viewContent(view_next_sbidx)" value="다음">
				<input type="button" class="btn_004 btn-list" value="목록">
			</div>

			<div class="submit_box" ng-show="loginemail">
				<div class="text_submit_textarea"><input type="hidden" name="email" value="{{loginemail}}" ng-model="comment_email" /><input type="hidden" name="writer" value="{{loginwriter}}" ng-model="comment_writer" />
					<input type="hidden" name="sbidx" value="{{comment_sbidx}}" ng-model="comment_sbidx" /><input type="hidden" name="p_sbcidx" value="" ng-model="comment_p_sbcidx" /><input type="hidden" name="sbcidx" value="{{comment_sbcidx}}" ng-model="comment_sbcidx" />
					<textarea rows="" cols="" ng-model="comment_comment" id="comment_comment"></textarea>
				</div>
				<input type="submit" class="btn_005" value="등록하기" ng-click="commentInsert()">
			</div>
			<div>
				<p class="cution">※ 게시판 성격과 맞지 않는 글은 통보 없이 삭제될 수 있습니다.</p>
				<h4>댓글 <span>{{comment_count}}</span>개</h4>
				<div class="reply">
					<ul>
						<li ng-repeat="comment in comments" ">
							<span class="unrep" ng-show="comment.sbcidx != comment.p_sbcidx"></span>
							<i id="{{comment.sbcidx}}"></i>
							<div class="reply_top">
								<p class="name">{{comment.writer}}</p>
								<span class="d001">({{comment.reg_datetime | date : 'yyyy-MM-dd HH:mm'}})</span>
								<p class="msg">{{comment.comment}}</p>
							</div>
							<span class="d004" ng-show="comment.email == loginemail" ng-click="commentDelete(comment.sbcidx)">삭제</span>
						</li>

					</ul>
				</div>
			</div>
		</div>
	</div>
</section>