<section id="userAgreement" class="wrapper container" ng-controller="userAgreementController">
  <ul class="location location_01">
    <li>약관동의</li>
    <li>회원정보입력</li>
    <li>회원가입완료</li>
  </ul>
  <section class="location_area on">
    <article class="cont">
      <div>
        <h3>슈가이용약관 동의 <span>(필수)</span></h3>
        <div>
          <pre>
제 1 조 (목적)
이 약관은 YIFA 주식회사 ("회사" 또는  "YIFA")가 제공하는 슈가 및 슈가 관련 제반 서비스의 이용과 관련하여
회사와 회원과의 권리, 의무 및 책임사항, 기타 필요한 사항을 규정함을 목적으로 합니다.

제 2 조 (정의)
YIFA가 제공하는 슈가 및 슈가 관련 제반 서비스의 이용과 관련하여 회사와 회원과의 권리, 의무 및
책임사항, 기타 필요한 사항을 규정함을 목적으로 합니다.
          </pre>
        </div>
        <label class="mg" for="accessTerm"><input type="checkbox" id="accessTerm" ng-checked="allAgree"> 동의합니다.</label>
      </div>
      <div>
        <h3>개인정보 수집 및 이용에 대한 안내 <span>(필수)</span></h3>
        <div>
          <pre>
제 1 조 (목적)
이 약관은 YIFA 주식회사 ("회사" 또는  "YIFA")가 제공하는 슈가 및 슈가 관련 제반 서비스의 이용과 관련하여
회사와 회원과의 권리, 의무 및 책임사항, 기타 필요한 사항을 규정함을 목적으로 합니다.

제 2 조 (정의)
YIFA가 제공하는 슈가 및 슈가 관련 제반 서비스의 이용과 관련하여 회사와 회원과의 권리, 의무 및
책임사항, 기타 필요한 사항을 규정함을 목적으로 합니다.
          </pre>
        </div>
        <label class="mg" for="personalInfo"><input type="checkbox" id="personalInfo" ng-checked="allAgree"> 동의합니다.</label>
      </div>
      <div>
        <h3>이벤트등 프로모션 알림 메일 수신 <span>(선택)</span></h3>
        <div>
          <pre>
제 1 조 (목적)
이 약관은 YIFA 주식회사 ("회사" 또는  "YIFA")가 제공하는 슈가 및 슈가 관련 제반 서비스의 이용과 관련하여
회사와 회원과의 권리, 의무 및 책임사항, 기타 필요한 사항을 규정함을 목적으로 합니다.

제 2 조 (정의)
YIFA가 제공하는 슈가 및 슈가 관련 제반 서비스의 이용과 관련하여 회사와 회원과의 권리, 의무 및
책임사항, 기타 필요한 사항을 규정함을 목적으로 합니다.
          </pre>
        </div>
        <label class="mg" for="receiveMail"><input type="checkbox" id="receiveMail" ng-checked="allAgree"> 동의합니다.</label>
      </div>
    </article>
    <div class="allagree">
      <label for="userAgree"><input type="checkbox" id="userAgree" ng-model="allAgree"> 이용약관, 개인정보 수집 및 이용, 프로모션 안내 메일 수신(선택)에 모두 동의합니다.</label>
    </div>
    <div class="btn_area">
    	<input type="submit" class="btn_001 btn-agreeNext" value="동의">
    	<input type="button" class="btn_001" ng-click="broadcastGoToHome()" value="비동의">
  	</div>
  </section>
  <section class="location_area">
  	<article class="myPage-form">
	    <form method="post">
	      <table input-table></table>
	    	<input type="submit" class="btn-agreeSubmit" value="가입하기">
	    	<input type="reset" ng-click="broadcastGoToHome()" value="취소">
	    </form>
    </article>
  </section>
  <section class="location_area">
  	<article class="cont">
	    <div class="cont_final">
	      <img src="./partials/layout/contents/userAgreement/img/icon_01.gif" alt="">
	    </div>
	    <div class="cont_text">
	      <h2>회원가입이 완료되었습니다.</h2>
	      <p>슈가에서 제공되는 모든 서비스를 정상적으로 이용하실 수 있습니다.</p>
	      <div class="btn_area02">
	    	<input type="button" ng-click="broadcastGoToHome()" class="btn_001" value="메인으로">
	    	<input type="button" ng-click="signIn()" class="btn_001" value="로그인">
	  	  </div>
	    </div>
    </article>
    <div class="box_margin"></div>
    <div class="box_margin"></div>
  </section>
</section>