@charset "utf-8";
@import "fonts.css";

/* --- default reset --- */
html,body{width:100%; height:100%; overflow:auto; -webkit-overflow-scrolling:touch;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,form,fieldset,p,button{margin:0;padding:0}
body,h1,h2,h3,h4,h5,h6,p,input,button,pre{
  font-family:'Nanum Barun Gothic';
  font-style: normal;
  letter-spacing:0.5px;
}
body{*word-break:break-all;-ms-word-break:break-all}
img,fieldset,iframe,button{border:0 none}
li{list-style:none}
input,select,button{vertical-align:middle;}
img{vertical-align:top}
i,em,address{font-style:normal}
label,button{cursor:pointer}
button{background-color:transparent}
a, button{border:0 none; outline:none}
a:active, button:active{outline:none}
a{display:block; text-decoration:none; color:#595959}
a:hover,
a:link{text-decoration:none;}
legend{*width:0}
table{width:100%;border-collapse:collapse;border-spacing:0; table-layout: fixed; text-align:center;}
caption{
  width:0;
  height:0;
  padding:0;
  font-size:0;
  opacity: 0;
}
th{text-align:center;}
input::-ms-clear{display:none}
input,
button{
  -webkit-border-radius:0;
  -moz-border-radius:0;
  border-radius:0;
}
pre{
  background-color:#fff;
  overflow-y:scroll;
}
textarea{
  resize:none;
}
figure{
  text-align:center
}
*:focus{
  outline:none !important;
  border-color:#ccc !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}

/* --- loading --- */
#loading {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  /* change if the mask should have another color then white */
  z-index: 99;
  /* makes sure it stays on top */
}
#status {
  width: 200px;
  height: 200px;
  margin: -100px 0 0 -100px;
  /* is width and height divided by two */
  position: absolute;
  left: 50%;
  /* centers the loading animation horizontally one the screen */
  top: 50%;
  /* centers the loading animation vertically one the screen */
  background: url(../img/loading.gif) no-repeat center;
  /* path to your loading animation */
}

/* --- common --- */
td, th{ padding:8px }
.ir{display:block;text-indent:100%;white-space:nowrap;overflow:hidden}
.ellipsis{overflow:hidden;white-space:nowrap;text-overflow:ellipsis;-o-text-overflow:ellipsis}
.clearfix::after{content:"";display:block;clear:both}
.align-middle{display:inline-block; width:0; height:100%; vertical-align:middle; font-size:0;}
.is-block{display:block;}
.btn{
  -webkit-border-radius:0;
  -moz-border-radius:0;
  border-radius:0;
}
.btn:hover,
.btn:focus{
  outline:0 none;
  color:#fff;
  -webkit-box-shadow: 0;
  -moz-box-shadow: 0;
  box-shadow: 0;
  background-color:#548ed0
}
.btn[disabled]{
  opacity:1;
}
.ellipsis{
  overflow:hidden; white-space: nowrap; text-overflow: ellipsis;
}
.input-area .form-control{
  height:42px;
  position:relative;
  -webkit-border-radius:0;
  -moz-border-radius:0;
  border-radius:0;
  cursor:pointer;
}
.check-icon{
  position:relative;
}
.check-icon::before{
  content:"";
  display:block;
  width:24px;
  height:24px;
  position:absolute;
  top:-3px;
  left:-35px;
  background:url(../img/check.png) no-repeat center/contain;
}
.sugarThink{
  margin-top:70px;
  padding:30px 60px;
  background-color:#f1f1f1
}
.sugarThink.middlePosition{
  margin-bottom:55px;
}
.sugarThink h4{
  position:relative;
}
.sugarThink h4::before{
  content:"";
  display:block;
  width:32px;
  height:33px;
  position:absolute;
  top:-8px;
  left:-42px;
  background:url(../img/sugar-think.png) no-repeat 0 0;
}
.figBorder{
  border:1px solid
}

/* --- Layout --- */
#wrapper,
.wrapper{
  width:100%; height:100%;
  position:relative;
}
.wrapper.row{
  margin:0;
}

#header{
  width:100%;
  height:58px;
  position:fixed;
  z-index: 999;
  background-color:#fff;
  -webkit-box-shadow: 0 0 6px #333;
  -moz-box-shadow: 0 0 6px #333;
  box-shadow: 0 0 6px #333;
}

#section{
  width:100%;
  height:auto;
  min-height:calc(100% - 76px);
  padding-top:58px;
}

#footer{
  background-color:#202020;
}

.container{
  width:1200px;
  height:100%;
  margin:0 auto;
  padding:0;
}
.container.type2{
  width:100%;
}
.is-Block{ display: block }
.is-inlineBlock{ display:inline-block; vertical-align: middle; }
.is-Inline{ display:inline }
.is-Left{ float:left }
.is-Right{ float:right }
.is-Static{ position:static }
.is-Absolute{ position:absolute }
.is-Fixed{ position:fixed }

.magBottom15{ margin-bottom:15px; }
.magBottom30{ margin-bottom:30px; }
.magBottom40{ margin-bottom:40px; }
.magBottom50{ margin-bottom:50px; }


/* header */
.logo-header{
  float:left;
  width:97px;
  height:26px;
  margin-top:18px;
  background:url(../../common/img/sprite.png) no-repeat 0 -50px;
}
.logo-header a{
  height:100%;
}

nav{
  float:right;
  margin-top:15px;
}

nav > ul,
nav li{
  float:left;
  text-align:center;
}
.lnb > li{
  margin:0 15px;
  padding:4px;
}
.lnb > li:first-child{
  margin-left:0;
}
.lnb li a{
  margin:0 3px;
  position:relative;
}


.lnb > li.active > a{
  position:relative;
}
.lnb > li.active > a::after{
  content:"";
  display:block;
  width:0;
  height:0;
  position:absolute;
  top:calc(100% + 6px);
  left:calc(50% - 14px);
  border-left:14px solid transparent;;
  border-right:14px solid transparent;
  border-bottom:14px solid #373c44;
}
.gnb.help {
  margin-left:95px;
}
.gnb.signin {
  margin-right:5px;
}
.gnb a{
  margin:0 3px;
  padding-left:27px;
  background:url(../../common/img/sprite.png) no-repeat;
}
.help a{
  background-position: 5px -189px;
}
.signin a{
  background-position: 0 -242px;
}

.sub-lnb{
  height:0;
  margin-top:19px;
  position:absolute;
  z-index: 10;
  -webkit-transition: height 0.3s;
  -moz-transition: height 0.3s;
  -ms-transition: height 0.3s;
  -o-transition: height 0.3s;
  transition: height 0.3s;
  overflow:hidden;
}
.sub-lnb li{
  float:none;
  padding:4px 0px;
  text-align:left;
}
.sub-lnb li:first-child{
  margin-top:24px;
}
.sub-lnb li:last-child{
  margin-bottom:24px;
}
.sub-lnb li a::before{
  content:"-";
  display:inline-block;
  margin-right:4px;
  vertical-align: middle;
}
.sub-bg{
  height:0;
  background-color:#373c44;
  opacity: 0.9;
  -webkit-transition: height 0.3s;
  -moz-transition: height 0.3s;
  -ms-transition: height 0.3s;
  -o-transition: height 0.3s;
  transition: height 0.3s;
  overflow:hidden;
}

/* --
main contents
./partials/layout/contents/index.css
-- */


/* -- footer -- */
.logo-footer{
  float:left;
  width:137px;
  height:38px;
  margin-top:20px;
  margin-left:28px;
  background:url(../../common/img/sprite.png) no-repeat 0 0;
}
.foot-con{
  float:right;
  margin:28px 0;
}
.address{
  float:right;
}
.address li{
  float:left;
  margin-right:17px;
}
.address li:first-child{
  margin-left:0;
  color:#fff;
}
.sugar-sns{
  margin-right:15px;
}
.sugar-sns li{
  width:18px;
  height:20px;
  background-image:url(../../common/img/sprite.png);
  background-repeat:no-repeat;
}
.facebook{
  margin-left:0;
  background-position:-48px -90px;
}
.twitter{
  background-position:-68px -88px;
}

/* --
로그인
-- */
#signIn{
  width:400px;
  margin-top:100px;
}
#signIn .modal-content{
  padding:0 8px;
}
#signIn .modal-header{
  padding-top:40px;
  border-bottom:0 none;
}
.modal-header h1{
  float:left;
  margin-top:18px
}
.modal-header p{
  float:right;
  margin-top:18px
}
.modal-header.close{
  float:none;
  position:absolute;
  top:15px;
  right:15px;
}
.modal-body .sign-btn-group{
  position:relative;
  overflow:hidden
}
.sign-btn-group .sign-checkbox{
  float:left;
  position:relative;
}
.sign-checkbox input{
  position:absolute;
  left:0;
  z-index: -1;
  opacity: 0;
}
.sign-checkbox label::before{
  content:"";
  display:inline-block;
  width:21px;
  height:21px;
  margin-right:10px;
  vertical-align: middle;
  border:1px solid #808080
}
.sign-checkbox input:checked + label::before{
  background:url(../img/sign-check.jpg) no-repeat 0 0;
  border:0 none;
}
.sign-btn-group .forgot{
  float:right;
}
.modal-body .form-group{
  margin-bottom:15px;
}
.modal-body .btn{
  width:100%;
  height:55px;
  background-color:#0896d7;
  border:0 none;
}
.modal-body .btn:hover{
  color:#35353f
}
#signIn .modal-footer{
  padding-bottom:40px;
  border-top:0 none;
}
.modal-footer p{
  margin-top:0;
  position:relative;
  text-align:left;
}
.modal-footer p a{
  position:absolute;
  top:0;
  right:0;
}
.modal-footer .sns-sign{
  margin-top:30px;
  padding-top:24px;
  padding-bottom:18px;
  position:relative;
  border-top:2px solid #dee2e7
}
.sns-sign .sign-or{
  width:40px;
  margin-left:-20px;
  position:absolute;
  top:-10px;
  left:50%;
  text-align:center;
  background-color:#fff;
}
.sns-sign > a{
  width:170px;
  height:38px;
  padding-left:53px;
  line-height: 38px;
  text-align:left;
}
.sns-sign .sign-face{
  float:left;
  background:url(../img/sign-facebook.jpg) no-repeat 0 0;
}
.sns-sign .sign-kakao{
  float:right;
  background:url(../img/sign-kakao.jpg) no-repeat 0 0;
}
  /* -- 로그인 끝 -- */


/* --
입력폼 디렉티브
-- */
.myPage-form form{
  margin-top:73px;
  text-align:right;
}
.my-form-table{
  margin-bottom:28px;
  border-top:1px solid #465159;
  border-bottom:1px solid #465159;
}
.my-form-table caption{
  width:0;
  height:0;
  padding:0;
  font-size:0;
  opacity: 0;
}
.my-form-table tbody{
  background-color:#fff;
}
.my-form-table tr{
  height:54px;
  border-top:1px solid #f4f4f4;
}
.my-form-table tr:first-child{
  border-top:0 none;
}
.my-form-table th{
  width:22%;
  padding-left:20px;
  text-align:left;
}
.my-form-table td{
  padding-left:20px;
  text-align:left;
  border-left:1px solid #f4f4f4;
}
.my-form-table input,
.my-form-table select{
  display:inline-block;
  width:295px;
  height:36px;
  margin:0 3px;
  padding: 0.5em 0.5em;
}
.my-form-table  input:first-child,
.my-form-table  select:first-child{
  margin-left:0;
}
.my-form-table  .gender label{
  margin-bottom:0;
  position:relative;
}
.my-form-table  .gender label::before{
  content:"";
  display:inline-block;
  width:32px;
  height:32px;
  margin-right:10px;
  vertical-align: middle;
  border:1px solid #c4c9cc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;;
}
.my-form-table  .gender input[type="radio"]{
  position:absolute;
  top:0;
  left:0;
  z-index:-1;
  opacity:0;
}
.my-form-table .gender input:checked + label::before{
  border:0 none;
  background:url(../../common/img/checked.png) no-repeat center/contain;
}
.my-form-table .gender span:nth-child(2){
  margin-left:100px;
}
.my-form-table .selectStyle{
  position:relative;
}
.my-form-table .selectStyle select{
  width:120px;
  font-size:0.8rem;
  color:#b8b8b8;
  border: 1px solid #c4c9cd;
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color:#fff;
  outline: 0;
}
.my-form-table .selectStyle::before {
  content: "";
  display:block;
  position: absolute;
  top: 47%;
  left: 285px;
  width: 0;
  height: 0;
  margin-top: -1px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #333;
}
.my-form-table .selectStyle.email input[type="text"]{ width:165px; }
.my-form-table .selectStyle.email input[type="button"]{
  width:140px;
  background-color: #548ed0;
  border:0 none;
}
.my-form-table .selectStyle.mobile select,
.my-form-table .selectStyle.mobile input{
  width:93px;
}
.my-form-table .selectStyle.mobile::before{
  left: 85px;
}
.myPage-form form > input{
  width:100px;
  height:34px;
  background-color: #373c44;
  border:0 none;
}
/* -- 입력폼 디렉티브 끝 -- */

/*페이징*/
.btn-page{
  font-size:0;
  text-align:center;
}
.btn-page .page-location{
  display:inline-block;
}
.btn-page button,
.btn-page a{
  display:inline-block;
  width:40px;
  height:40px;
  margin:0 5px;
  line-height:40px;
  vertical-align: top;
  background:#ecf0f1;
  font-weight:bold;
  color:#fff; font-size:0.9rem;
}
.btn-page .next{margin-left:10px; background:#ecf0f1 url(../img/pageing-next.png) no-repeat 0 0;}
.btn-page .prev{margin-right:10px; background:#ecf0f1 url(../img/pageing-prev.png) no-repeat 0 0;}
.btn-page button:hover{ background-color:#6d6d6d;}
.btn-page a:hover{background:#548ed0; color:#fff;}
.btn-page a.on{background:#548ed0; color:#fff;}

/*하단여백공통*/
.box_margin{width:100%; clear:both; height:200px; display:block;}

/*테이블공통*/
#recommendTable{width:100%; overflow:hidden;}
#recommendTable .recommend_top{overflow:hidden; display:block; margin-bottom:28px; background:#fff;}
#recommendTable .recommend_main{float:left; display:inline-block; width:27%; padding:18px 2%; border:1px solid #d4d4d4; border-top:4px solid #2d2d2d;
  -webkit-box-shadow: 3px 5px 7px 0px rgba(212,212,212,0.85);-moz-box-shadow: 3px 5px 7px 0px rgba(212,212,212,0.85);box-shadow: 3px 5px 7px 0px rgba(212,212,212,0.85);}
#recommendTable .recommend_main ul{overflow:hidden;}
#recommendTable .recommend_main ul li{width:100%; height:42px; line-height:42px; border-bottom:1px solid #f5f6f8; padding-left:35px; color:#000000; font-size:0.75rem;}
#recommendTable .recommend_main ul li:nth-child(1){background:url(../img/suger_table_icon01.png) 6px 12px no-repeat;}
#recommendTable .recommend_main ul li:nth-child(2){background:url(../img/suger_table_icon02.png) 6px 12px no-repeat;}
#recommendTable .recommend_main ul li:nth-child(3){background:url(../img/suger_table_icon03.png) 6px 12px no-repeat;}
#recommendTable .recommend_main ul li:nth-child(4){background:url(../img/suger_table_icon04.png) 6px 12px no-repeat;}
#recommendTable .recommend_main ul li:nth-child(5){background:url(../img/suger_table_icon05.png) 6px 12px no-repeat;}
#recommendTable .recommend_main ul li:nth-child(6){background:url(../img/suger_table_icon06.png) 6px 12px no-repeat;}
#recommendTable .recommend_main ul li:nth-child(7){background:url(../img/suger_table_icon07.png) 6px 12px no-repeat;}
#recommendTable .recommend_main ul li:nth-child(8){background:url(../img/suger_table_icon08.png) 6px 12px no-repeat;}

#recommendTable .recommend_sub{float:left; display:inline-block; width:73%; overflow:hidden; border:1px solid #d4d4d4; border-top:2px solid #747474;}
#recommendTable .recommend_sub .recommend_sub_con{width:33.3%; float:left; border-right:1px solid #d4d4d4; padding:0 2.5% 18px 2.5%;}
#recommendTable .recommend_sub .recommend_sub_con:last-child{border-right:0;}
#recommendTable .recommend_sub .recommend_sub_con p{height:63px; padding-left:19px; color:#000; font-weight:bold; font-size:0.75rem; line-height:80px;}
#recommendTable .recommend_sub .recommend_sub_con ul li{width:100%; height:42px; line-height:42px; border-bottom:1px solid #f5f6f8;  background:url(../img/suger_table_icon09.gif) 6px 14px no-repeat;
  padding-left:35px; color:#000000; font-size:0.75rem; padding-left:20px; color:#000000; font-size:0.7rem;}
#recommendTable .recommend_sub .recommend_sub_con ul li span{color:#999999;}

#recommendTable .recommend_bottom{overflow:hidden; display:block; background:#fff;}
#recommendTable .recommend_bottom table{border:0;}
#recommendTable .recommend_bottom table tr th{border:1px solid #d6dbe2;}
#recommendTable .recommend_bottom table tr td{border:1px solid #d6dbe2;}
#recommendTable .recommend_bottom table .bg-col-03_01 i{background:url(../img/suger_table_icon10.png) center top no-repeat; width:100%; height:26px; display:block; margin-bottom:15px;}
#recommendTable .recommend_bottom table .bg-col-03_02 i{background:url(../img/suger_table_icon11.png) center top no-repeat; width:100%; height:26px; display:block; margin-bottom:15px;}




@media all and (max-width:1199px){
  .foot-con{
    float:none;
    margin-left:36vw;
  }
}

@media all and (max-width:930px){

  /* -- header -- */


  /* -- footer -- */

}


