




<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 위 3개의 메타 태그는 *반드시* head 태그의 처음에 와야합니다; 어떤 다른 콘텐츠들은 반드시 이 태그들 *다음에* 와야 합니다 -->
    <title>통합인증 web</title>
    <!-- 부트스트랩 -->
    <link href="https://yellopass.yellofg.com/css/web/bootstrap.min.css" rel="stylesheet">
    <link href="https://yellopass.yellofg.com/css/web/sy_style.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <link href="https://yellopass.yellofg.com/css/web/sy_style_ie8.css" rel="stylesheet">
    <![endif]-->
    <!-- dropdown -->
    <script src="https://yellopass.yellofg.com/js/web/jquery.min.js"></script>
    <script src="https://yellopass.yellofg.com/js/web/jquery.easydropdown.js"></script>
    <script src="https://yellopass.yellofg.com/js/web/jquery.easydropdown_scroll.js"></script>

    <script type="text/javascript">



        //휴대폰 번호 존재 할 경우 인증번호 발송 및 인증번호 입력 창 활성화
        //휴대폰 번호 없을 경우 알림 메시지 출력

        $(document).ready(function() {

            //인증번호 전송 버튼 휴대폰 번호 입력 되면 활성화
            $("#email_id").on("change",function() {
                if($(this).val() != "") {
                    $("#next_page").removeClass("disabled");
                } else {
                    $("#next_page").addClass("disabled");
                }
            });

            $("#next_page").on("click",function () {
                if($("#email_id").val() == "") {
                    $("#next_page").addClass("disabled");
                } else {
                    //이메일 가지고 존재 여부 확인 인증 코드 받기
                    var emailId = $("#email_id").val();


                    $.ajax({
                        url:"https://yellopass-staging.yellofg.com/noco-itgr-auth/v1/email/check",
                        type:"POST",
                        dataType: "json",
                        data: "emailId="+emailId ,
                        success: function(data) {
                            console.log(data);
                            if(data.resultInfo != undefined) {
                                if(data.resultInfo.code == "100") {
                                    location.href="select_method.html?authCode="+data.result.authCode+"&email="+emailId;
                                } else {
                                    alert("이메일 확인을 할 수 없습니다. "+data.resultInfo.message);
                                }
                            } else {
                                alert("가입된 이메일 정보가 없습니다");
                            }
                        },
                        error : function(jqXHR, testStatus, errorThrown) {
                            alert("error : "+errorThrown);
                        }
                    });


                }
            });

        });

    </script>

</head>
<body>
<div class="nav_top">
    <div class="top">
        <div class="left"></div>
        <!-- <div class="right"></div> -->
    </div>
    <div class="nav_line"></div>
</div>
<!-- /header -->
<div class="container">
    <h4 class="notokr-regular">비밀번호 재설정</h4>
    <div class="text_center mgb_30">
        비밀번호를 재설정 하시겠어요?<br/>
        가입하신 Yello One PASS 아이디를 입력해주세요.
    </div>
    <form class="form-signin">
        <div class="normal_form">
            <div class="num_s" id="email_get">
                <input type="email" id="email_id" class="form-control" placeholder="Yello One PASS 아이디 ( 이메일 )" required  onfocus="if (this.placeholder == 'Yello One PASS 아이디 ( 이메일 )') {this.placeholder = '';}" onblur="if (this.placeholder == '') {this.placeholder = 'Yello One PASS 아이디 ( 이메일 )';}">
            </div>
        </div>
        <a id="next_page" class="btn btn-lg btn-block mgt_20 service_color disabled fontNotoSans">다 음</a>
        <!-- <a href="#" class="btn btn-lg service_color btn-block mgt_20">다음</a> 입력 후 -->
        <div class="mgt_10 fontNotoSans">아이디가 기억나지 않으세요? <a href="find_id.html"><span class="fontNotoSans" style="font-weight:400">아이디 찾기</span></a></div>
    </form>
    <div class="copy">Copyright ⓒ <strong>Yello financial Group.</strong> All Rights Reserved.</div>
</div> <!-- /container -->

<!-- jQuery (부트스트랩의 자바스크립트 플러그인을 위해 필요합니다) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<!-- 모든 컴파일된 플러그인을 포함합니다 (아래), 원하지 않는다면 필요한 각각의 파일을 포함하세요 -->
<script src="https://yellopass.yellofg.com/js/web/bootstrap.min.js"></script>
<script src="https://yellopass.yellofg.com/js/web/jquery.placeholder.js"></script>
<script>
    $(function() {
        // Invoke the plugin
        $('input, textarea').placeholder({customClass:'my-placeholder'});
        // That’s it, really.
    });
</script>
</body>
</html>