<div class="view">
	<div class="shape"></div>
  <h3>보험 가입 금액을 변경할 수 있나요?</h3>
  <div class="view_box">
    <div class="box_text">
      <p>
        치괴 치료는 다른 질환에 비해 국민건강보험이 적용되지 않는 경우가 많고 치료비가 비싸서 많은 부담갑을 줍니다.
      </p>
      <p>
        또 한번 치료했다고 낫는 것이 아니라 꾸준한 관리가 필요한 질환이기도 합니다.
      </p>
      <p>&nbsp;</p>
      <p>
        치아보험은 보험사와 상품에 따라 보장금액과 보장범위가 각각 다르기 때문에 치아보험 가입 시 꼼꼼히 살펴볼 필요가 있습니다.
      </p>
      <p>&nbsp;</p>
      <p>
        가입하실 때 도움을 드리고자 치아보험 가입노하우에 대해 알아보았으니 도움이 되시길 바랍니다.
      </p>
    </div>
    <div class="box_ans">
      <dl>
        <dt>답변</dt>
        <dd>
          치과치료는 다른 질환에 비해 국민건강보험이 적용되지 않는 경우가 많고 치료비가 비싸서 많은 부담감을 줍니다.
          또 한번 치료했다고 낫는 것이 아니라 꾸준한 관리가 필요한 질환이기도 합니다.
        </dd>
      </dl>
    </div>
    <div class="box_qna">
      <p>
        위 답변으로 궁금하신 사항이 해결 되셨나요?<br>
        해결되지 않으셨다면 어떤 답변을 원하셨는지 알려주세요.
      </p>
      <div class="btn_area02">
		<input type="button" class="btn_002"value="새 문의 등록">
	  </div>
      <span class="align-middle"></span>
    </div>
  </div>
	<div class="btn_area">
		<input type="submit" class="btn_001" value="목록">
		<input type="button" class="btn_001"value="삭제">
	</div>
  <div class="text_submit_box">
  	<div class="text_submit_textarea">
    	<textarea rows="" cols=""></textarea>
    </div>
    <div class="btn_area03">
    	<input type="submit" class="btn_003" value="등록하기">
    	<input type="button" class="btn_003"value="수정">
    </div>
  </div>
</div>