<div class="view">
	<div class="shape"></div>
  <h3>{{view_title}}</h3>
  <div class="view_box">
    <div class="box_text">
      <div ng-bind-html="view_content"></div>
    </div>
    <div class="box_ans" ng-show="view_reply">
      <dl>
        <dt>답변</dt>
        <dd>
            <div ng-bind-html="view_reply"></div>
        </dd>
      </dl>
    </div>
    <div class="box_qna" ng-show="view_reply">
      <p>
        위 답변으로 궁금하신 사항이 해결 되셨나요?<br>
        해결되지 않으셨다면 어떤 답변을 원하셨는지 알려주세요.
      </p>
      <div class="btn_area02">
		<input type="button" class="btn_002"value="새 문의 등록" ng-click="viewInput()">
	  </div>
      <span class="align-middle"></span>
    </div>
  </div>
	<div class="btn_area">
		<input type="submit" class="btn_001" value="목록" ng-click="viewList()">
		<input type="button" class="btn_001"value="삭제" ng-hide="view_reply" >
	</div>
  <div class="text_submit_box" ng-hide="1">
  	<div class="text_submit_textarea">
    	<textarea rows="" cols=""></textarea>
    </div>
    <div class="btn_area03">
    	<input type="submit" class="btn_003" value="등록하기" ng-click="viewInput()">
    	<input type="button" class="btn_003"value="수정">
    </div>
  </div>
</div>