<!-- layout : .container -->
<div class="container">
  <!-- logo : left -->
  <h1 class="logo-footer ir">Sugar</h1>
  <div class="foot-con">
    <ul class="address clearfix">
      <li><a href="#" ng-click="aboutFincl()"><b>About Sugar</b></a></li>
      <li><a href="tel:02-6105-7088">+ 02-6105-7088</a></li>
      <li><a href="#" ng-click="userAgreement()">Terms &amp; Policies</a></li>
      <li>&copy;2016 YelloIFA. All rights reserved.</li>
      <li><a href="mailto:hello@yelloifa.co">hello @ yelloifa.com</a></li>
      <li class="sugar-sns">
        <ul>
          <li class="facebook ir"><a href="#">facebook</a></li>
          <li class="twitter ir"><a href="#">twitter</a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>

