<section class="wrapper" ng-controller="mySaveController">
	<div class="myHeader7">
		<div class="container7">
			<h2>
			  	<small>핵심보장분석</small>
			  	<strong>000</strong> 님의 계약 현황
			</h2>
			<ul class="top_btn">
			  <li><a href="#">증권 업로드</a></li>
			  <li><a href="#">내 보관함</a></li>
			</ul>
			<ul class="count_box">
				<li>
					<p class="count_box_name">보유 계약</p>
					<p class="count_box_num">총 <strong>2</strong> 건</p>
				</li>
				<li>
					<p class="count_box_name">월납입보험료</p>
					<p class="count_box_num"><strong>2,041,900</strong> 원</p>
				</li>
				<li>
					<p class="count_box_name">현재 납입하신 보험료</p>
					<p class="count_box_num"><strong>2,041,900</strong> 원</p>
				</li>
				<li>
					<p class="count_box_name">납입해야할 보험료</p>
					<p class="count_box_num"><strong>2,041,900</strong> 원</p>
				</li>
			</ul>
		</div>
	</div>
	<div class="mycontainer7">
		<div class="mycontainer7_box">
			<section class="mycontainer7_table" recommend-table></section>
			<div class="mycontainer7_infor">
				<h3>종합의견</h3>
				<p>소득대비 보험료 수준이.... 슈가의 올바른 활용법을 통해 자세한.. </p>
			</div>
		</div>
		<div class="box_margin"></div>
	</div>
</section>