<div id="infoTable">
  <div class="tableArea">
    <table>
      <caption>
        * 30대 남자
      </caption>
      <colgroup>
        <col>
        <col span="3">
        <col>
        <col span="3">
      </colgroup>
      <thead>
      <tr>
        <th rowspan="2">경과나이</th>
        <th colspan="3">종신보험(20년납 월 보험료:207,000원 공시이율 2.7%)</th>
        <th colspan="4">정기보험(20년납 월 보험료:28,500원+보험료 차액 178,000원 투자이율 2.7%)</th>
      </tr>
      <tr>
        <th>보험료 낸 돈</th>
        <th>보장금액</th>
        <th>해지환급금</th>
        <th>보험료 낸 돈</th>
        <th>보장금액</th>
        <th>
          보험료 차액<br>
          저축/투자할 경우
        </th>
        <th>합계</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <th>35</th>
        <td>1,242만원</td>
        <td rowspan="7">1억</td>
        <td></td>
        <td>보험료 낸 돈</td>
        <td>보장금액</td>
        <td>
          보험료 차액<br>
          저축/투자할 경우
        </td>
        <td>
          합계
        </td>
      </tr>
      <tr>
        <th>40</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th>45</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th>50</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th>55</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th>60</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th>65</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr class="blankTr">
        <td colspan="8"></td>
      </tr>
      <tr>
        <th>70</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th>75</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr class="blankTr type2">
        <td colspan="8"></td>
      </tr>
      <tr>
        <th>80</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th>85</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th>90</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th>95</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th>100</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr class="blankTr type2">
        <td colspan="8"></td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="textGroup">
    <p class="tg1">
      이 기간(35세65세) 중 사망 하게 되면, 종신보험은 1억원의 돈만 나오지만 정기보험은 1억원과 투자 금액이 나오긱 때문에 가족이 활용할 자금이 더욱 많습니다.<br>
      또한 자금의 활용 측면에서도 정기 보험은 보험료 차액 투자금액을 모두 사용해도 사망 보험금이 1억 보장 되지만, 종신보험에서 자금을 인출하면 사망 보험금은 작아집니다.
    </p>
    <p class="tg2">
      유일하게 정기 보험 활용 플랜의 자금이 사망 보험금보다 낮은 시기이지만 그 차이는 미미합니다.
    </p>
    <p class="tg3">
      다시 이 구간으로 넘어오면, 정기보험 플랜이  사망 보험금으로 활용한 자금도 많고, 종신보험의 해지 환급금보다 활용 할 수 있는 자금도 3,4천만원 많습니다.
    </p>
  </div>
</div>