<table class="my-form-table">
  <caption>내정보 수정</caption>
  <colgroup>
    <col width="22%">
    <col>
  </colgroup>
  <tbody>
  <tr>
    <th>이메일</th>
    <td class="selectStyle email">
      <input type="text" placeholder="Email@yifa.co.kr">
      <select>
        <option></option>
        <option>naver.com</option>
      </select>
      <input type="button" value="이메일 중복확인">
    </td>
  </tr>
  <tr>
    <th>비밀번호</th>
    <td><input type="password"></td>
  </tr>
  <tr>
    <th>비밀번호 확인</th>
    <td><input type="password"></td>
  </tr>
  <tr>
    <th>이름</th>
    <td><input type="text"></td>
  </tr>
  <tr>
    <th>성별</th>
    <td class="gender">
      <span>
        <input type="radio" id="male" name="gender" value="남자">
        <label for="male">남자</label>
      </span>
      <span>
        <input type="radio" id="female" name="gender" value="여자">
        <label for="female">여자</label>
      </span>
    </td>
  </tr>
  <tr>
    <th>생년월일</th>
    <td><input type="text" placeholder="yy/mm/dd" ng-maxlength="6"></td>
  </tr>
  <tr>
    <th>휴대폰</th>
    <td class="selectStyle mobile">
      <select>
        <option>010</option>
      </select>
      - <input type="text"> - <input type="text">
    </td>
  </tr>
  </tbody>
</table>
