@charset "UTF-8";

#myPage{
  position:relative;
}
.myHeader{
  width:100%;
  height:298px;
  position:absolute;
  top:0;
  left:0;
  z-index: -1;
  background-color:#edeff2;
  overflow:hidden
}
.myHeader-img{
  height:100%;
  background:url(./img/myHeader-img.png) no-repeat 630px 0;
}
.myPage-con{
  padding:30px 135px;
}
.my-select{
  width:339px;
  height:46px;
}
.my-select li{
  padding-left:30px;
  line-height: 44px;
  background-color:#373c44;
  border:1px solid #1f242d
}
.my-select li,
.my-select li a{
  font-size:0.8rem;
  font-weight:normal;
  color:#fff;
}
.my-select > ul > li{
  float:left;
  width:50%;
  position:relative;
}
.my-select .select-list{
  border-left:0 none;
}
.select-list::after{
  content:"";
  display: block;
  width: 0;
  height: 0;
  position:absolute;
  top:18px;
  right:15px;
  background: transparent;
  border: 7px solid transparent;
  border-top: 7px solid #ededed;
  transition: all 0ms, border-width 250ms, height 150ms;
}
.select-list.on::after{
  top:20px;
  background:#ededed;
  border: 7px solid transparent;
  border-top: 0 solid transparent;
  border-bottom: 3px solid #ededed;
}
.btn-select{
  display:none;
  position:absolute;
  left:0;
}
.btn-select li{
  position:relative;
}
.btn-select li:first-child{
  border-bottom:0 none;
}
.btn-select li::before,
.btn-select li::after{
  content:"";
  display: block;
  width: 9px;
  height: 3px;
  position:absolute;
  top:20px;
  right:18px;
  background-color:#ededed;
}
.btn-select li::after{
  -webkit-transform: rotateZ(90deg);
  -moz-transform: rotateZ(90deg);
  -ms-transform: rotateZ(90deg);
  -o-transform: rotateZ(90deg);
  transform: rotateZ(90deg);
}
.select-list.on .btn-select{
  display:block;
}
.myPage-form{
  width:100%;
  padding-top:45px;
}
.myPage-form > div{ display:none; }
.myPage-form > div.on{ display:block; width:100%; }
.myPage-form > div > p:nth-child(2){ color:#666; }
#myPass > p:nth-child(2){ width:300px; letter-spacing: 0 }
.myPage-form form{
  margin-top:73px;
  text-align:right;
}
.passConfirm span{
  display:block;
}
.myPage-form form > input{
  width:100px;
  height:34px;
  color:#fff;
  background-color: #373c44;
  border:0 none;
}
