<ul>
  <li>
    <p>
    올바른
    보험활용
    방법 I
    </p>
    <ol>
      <li>보험으로 큰 위험에 대비하자.</li>
      <li>사회보장보험 고려하자.</li>
      <li>보험 수수료(사업비)를 아끼자.</li>
    </ol>
  </li>
  <li>
    <p>
    올바른
    보험활용
    방법 II
    </p>
      <ol>
        <li>어떤보험들이 있나?
        <small>(보험의 종류와 특징)</small>
          <ul>
            <li>공공보험</li>
            <li>민간보험</li>
          </ul>
        </li>
      </ol>
  </li>
  <li>
    <p>
    올바른
    보험활용
    방법 III
    </p>
    <ol>
      <li>
      무엇에 대비해서 얼마나,
      어떻게 가입하는게 현명한가?
        <ul>
          <li>아프거나 다쳤을 때</li>
          <li>갑작스럽게 죽었을 때</li>
          <li>최소한의 경제력을 갖추지 못하고 오래살 때</li>
        </ul>
      </li>
    </ol>
  </li>
</ul>