@charset "utf-8";


/* -- 슬라이드 -- */
.visual{
  height:515px;
  position:relative;
}
.visual-event{
  width:100%;
  text-align:center;
}
.event-list{
  display:inline-block;
  margin-top:250px;
  margin-left:7px;
  vertical-align: top;
}
.event-list:first-child{
  margin-left:-14.5%;
  vertical-align: top;
}
.event-list a{
  width:12px;
  height:12px;
  position:relative;
  z-index:10;
  text-indent:100%;
  background:url(../../../common/img/sprite.png) no-repeat -14px -90px;
  overflow: hidden;
}
.event-list.on a{
  background-position: 0 -90px;
}
.event-list:first-child .event-area{
  display:block;
}
.event-area{
  display:none;
  width:100%;
  height:515px;
  position:absolute;
  top:0; left:0;
}
.event-con{
  width:100%;
  height:100%;
  max-width:1200px;
  margin:0 auto;
  background-size:cover;
  background-position:75% 0;
  overflow:hidden;
}
.event-txt-area{
  width:35.584%;
  margin-top:5%;
  margin-left:5%;
  padding-top:17.667%;
  position:relative;
  text-align:left;
  background: no-repeat 0 0/100% auto;
}
.event-tit-ir{
  position:absolute;
  top:0;
  left:0;
  z-index: -1;
}
.event-txt{
  margin-top:3.516%;
  color:#fff;
  word-break:keep-all;
}
.event-txt.type2{
  width:95%;
}


/* -- 보험 바로 알기 -- */
.exactly-area{
  width:100%;
  height:auto;
  background-color:#f9cb6b;
  overflow:auto;
}
.move-menu{
  max-width:1100px;
  margin:0 auto;
  overflow:hidden;
}
.move-menu li{
  float:left;
  width:50%;
  height:auto;
  padding-top:40px;
  padding-left:80px;
}
.move-menu li:nth-child(odd){
  background: #fad381 url(./img/move01.png) no-repeat 90% 0/contain;
}
.move-menu li:nth-child(even){
  background: #ecc166 url(./img/move02.png) no-repeat 90% 0/contain;
}

.move-menu h3{
  font-size:0.9rem;
  position:relative;
}
.move-menu small{
  color:#969595;
}
.num-list{
  position:absolute;
  top:-10px; left:-47px;
  font-weight:bold;
}
.num-list::after{
  content:"";
  display:block;
  margin-top:3px;
  border-bottom:5px solid #fff;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  border-radius:5px;
}
.move-menu p{
  width:60%;
  margin-top:20px;
  font-size:0.65rem;
  word-break:keep-all;
}
.move-menu a{
  width:110px;
  height:30px;
  margin:20px 0;
  line-height:32px;
  text-align:center;
  color:#000;
  background:url(../../../common/img/sprite.png) no-repeat 0 -130px;
}
.move-menu a:hover{
  background-color:#f5eddd;
}


/* -- 슈가의 보험 추천이 일리있는 이유 -- */
.title{
  height:106px;
  margin-top:42px;
  font-size:0;
  text-align:center;
  background:url(./img/title-line1.png) no-repeat center/contain;
}
.title h2{
  display:inline-block;
  vertical-align: middle;
  font-size:1.4rem;
}
.title strong{
  font-size:2.35rem;
}

.recommend{
  max-width:1000px;
  margin:0 auto;
}
.recommend li{
  border-bottom:1px solid #f0f0f0;
  overflow:hidden;
}
.recommend-img{
  float:left;
  width:40%;
}
.recommend li:nth-child(even) .recommend-img{
  float:right;
  text-align:right;

}
.recommend-img img{
  width:100%;
  max-width:400px;
}
.recommend-txt{
  margin-left:40%;
  padding-top:6.6%;
  padding-left:9.5%;
}
.recommend li:nth-child(1) .recommend-txt{
  padding-top:10.5%;
}
.recommend li:nth-child(even) .recommend-txt{
  margin-left:0;
  margin-right:40%;
}
.recommend-txt h3{
  width:77%;
  position:relative;
  font-family: 'NanumGothic-Bold', sans-serif;
  font-size:0.85rem;
  color:#000;
}
.recommend-txt h3::before{
  content:"";
  display:block;
  width:2vw;
  height:2vw;
  position:absolute;
  top:-0.4vw;
  left:-3vw;
  background:url(./img/check.png) no-repeat center/contain;
}
.recommend-txt p{
  margin-top:3.9%;
  color:#666;
  word-break: keep-all;
}

/* -- 보험의 진실 -- */
/* title default 는 위에 공통으로 적용 중 */
.title.type2{
  background:url(./img/title-line2.png) no-repeat center/contain;
}
.title small{
  display:block;
  margin-top:15px;
  font-size:0.75rem;
  color:#969595;
}

.truth-list-area{
  max-width:1200px;
  margin:33px auto 95px;
  padding:0 1em;
  font-size:0.75rem;
  overflow:hidden;
}
.truth-list{
  width:calc(103% - 5px);
  padding-bottom:44px;
  overflow:hidden;
}
.truth-list li{
  float:left;
  width:30.8%;
  margin-right:2.5%;
}
.truth-img{
  padding-top:81.7%;
  position:relative;
  background-repeat:no-repeat;
  background-size:contain;
}
.truth-img .view-detail{
  display:none;
}
.truth-img:hover .view-detail{
  display:block;
}
.hover-bg{
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
  opacity:0.5;
  background-color:#000;
}
.hover-btn{
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
  font-size:0;
  text-align:center;
}
.hover-btn a{
  display:inline-block;
  padding:2.3% 3.5% 2%;
  vertical-align: middle;
  font-size:0.6rem;
  color:#FFF;
  background:url(./img/viewdetail.png) no-repeat 0 0/100% 100%;
}
.truth-txt-area{
  padding:30px 22px 0;
}
.truth-txt-area h3{
  font-size:0.85rem;
  font-weight:bold;
  color:#313131;
  text-align:center;
}
.truth-date{
  margin-top:5px;
  font-size:0.55rem;
  color:#a3a2a2;
  text-align:right;
}
.truth-txt{
  margin-top:20px;
  font-size:0.65rem;
  color:#969595;
}
.truth-btn-area{
  text-align:right;
}
.truth-more{
  width:100px;
  height:32px;
  font-size:0.85rem;
  color:#FFF;
  background-color:#373c44;
}
.truth-more:hover{
  color:#337ab7;
}

@media all and (max-width:1199px){

}