<section class="wrapper" ng-controller="faQuestionsController">
  <header>
    <div class="container faq-header">
      <div class="faSearch">
        <h2>FAQs</h2>
        <p>고객님이 자주 찾는 질문을 간단하게 찾아볼 수 있습니다.</p>
        <fieldset>
          <legend>
            검색
          </legend>
          <select>
            <option value="all">전체</option>
          </select>
          <input type="text">
          <input type="search" value="검색">
        </fieldset>
      </div>
      <ul>
        <li><a href="#">1:1 문의하기</a></li>
        <li><a href="#">1:1 답변확인</a></li>
      </ul>
    </div>
  </header>
  <div class="container faq-content">
    <ul>
      <li class="on"><a href="">상품관련</a></li>
      <li><a href="">가입(청약)</a></li>
      <li><a href="">청구 / 유지</a></li>
      <li><a href="">사이트 이용</a></li>
    </ul>
    <div>
      <ul>
        <li>상품공통</li>
        <li>실손의료비보험</li>
        <li>연금보험</li>
        <li>연금저축</li>
      </ul>
      <div>
        <h3>Keyword <span>(1)</span></h3>
        <div>
          <ul>
            <li>
              <p>보험의 가입금액을 변경할 수 있나요?</p>
              <p>
                순수 보장형 상품은 만기 시 돌려받는 금액이 없지만 보장에 충실한 상품이기 때문에 보험료가 저렴하고, 만기환급형 상품은 보험가입 시 선택하신 환급율에 따라
                만기환급금을 추가로 지급해 드리기 때문에 순수보장형에 비해서는 보험료가 좀 더 비싼 차이점이 있습니다.
              </p>
            </li>
            <li>
              <p>보험의 가입금액을 변경할 수 있나요?</p>
              <p>
                순수 보장형 상품은 만기 시 돌려받는 금액이 없지만 보장에 충실한 상품이기 때문에 보험료가 저렴하고, 만기환급형 상품은 보험가입 시 선택하신 환급율에 따라
                만기환급금을 추가로 지급해 드리기 때문에 순수보장형에 비해서는 보험료가 좀 더 비싼 차이점이 있습니다.
              </p>
            </li>
            <li>
              <p>보험의 가입금액을 변경할 수 있나요?</p>
              <p>
                순수 보장형 상품은 만기 시 돌려받는 금액이 없지만 보장에 충실한 상품이기 때문에 보험료가 저렴하고, 만기환급형 상품은 보험가입 시 선택하신 환급율에 따라
                만기환급금을 추가로 지급해 드리기 때문에 순수보장형에 비해서는 보험료가 좀 더 비싼 차이점이 있습니다.
              </p>
            </li>
          </ul>
        </div>
        <div>
          <ul>
            <li><a href="">1</a></li>
            <li><a href="">2</a></li>
            <li><a href="">3</a></li>
            <li><a href="">4</a></li>
            <li><a href="">5</a></li>
          </ul>
          <button>이전</button>
          <button>다음</button>
        </div>
      </div>
    </div>
  </div>
</section>