<section class="wrapper" ng-controller="faQuestionsController">
  <div class="myHeader2">
    <div class="container myHeader-img">
    	<div class="oneAnd-tit">
	      <h2>FAQs</h2>
	      <p class="title_01">고객님이 자주 찾는 질문을 간단하게 찾아볼 수 있습니다.</p>
	      <fieldset>
	          <legend>검색</legend>
	          <select ng-model="search_type">
	            <option value="all">전체</option>
				  <option value="subject">질문</option>
				  <option value="content">답변</option>
	          </select>
	          <input type="text" ng-model="search_keyword">
	          <input type="button" value="검색" ng-click="faqsearch()">
          </fieldset>
	    </div>
		<ul class="top_btn">
		   <li><a href="#">1:1 문의하기</a></li>
		   <li><a href="#">1:1 답변확인</a></li>
		 </ul>
    </div>
  </div>
  <div class="container faq-content">
    <ul class="tab">
      <li nc-class="{on:mainTab1=='Y'}">
      	<a href="">
      		<img src="./partials/layout/contents/faQuestions/img/faq_icon01_off.png" alt="상품관련" ng-click="mainTab(1)"/>
      		<span>상품관련</span>
      	</a>
      </li>
      <li nc-class="{on:mainTab2=='Y'}">
      	<a href="">
      		<img src="./partials/layout/contents/faQuestions/img/faq_icon02_off.png" alt="가입(청약)" ng-click="mainTab(2)"/>
      		<span>가입(청약)</span>
      	</a>
      </li>
      <li  nc-class="{on:mainTab3=='Y'}">
      	<a href="">
      		<img src="./partials/layout/contents/faQuestions/img/faq_icon03_off.png" alt="청구 / 유지" ng-click="mainTab(3)"/>
      		<span>청구 / 유지</span>
      	</a>
      </li>
      <li nc-class="{on:mainTab4=='Y'}">
      	<a href="">
      		<img src="./partials/layout/contents/faQuestions/img/faq_icon04_off.png" alt="사이트 이용" ng-click="mainTab(4)"/>
      		<span>사이트 이용</span>
      	</a>
      </li>
    </ul>
    <div class="full_area">
      <ul class="tab_area" ng-show="mainTabNum==1">
        <li class="on" ng-click="subTab('상품공통')" >상품공통</li>
        <li ng-click="subTab('실손의료비보험')">실손의료비보험</li>
        <li ng-click="subTab('연금보험')">연금보험</li>
        <li ng-click="subTab('연금저축')">연금저축</li>
      </ul>
      <div class="con_area">
        <h3>Keyword <span>({{keyword}})</span></h3>
        <div class="drop_box">
          <dl>

			  <dt ng-repeat-start="faq in boardList"><span class="circle">Q</span>{{faq.title}}<span class="arrow"></span></dt>
			  <dd ng-repeat-end=""><span class="circle">A</span>
            	<p><div ng-bind-html="faq.context"></div></p>
			  </dd>

          </dl>
        </div>
		  <div class="btn-page">
			  <button class="prev ir" ng-click="goBackPage()">이전페이지</button>
			  <span class="page-location">
          <a href="javascript:void(0)" ng-class="{on: p==page}" ng-repeat="p in pageList" ng-click="goPage(p)">{{p}}</a>
        </span>
			  <button class="next ir" ng-click="goNextPage()">&gt다음페이지</button>
		  </div>
        <div class="box_margin"></div>
      </div>
    </div>
  </div>
</section>