@charset "utf-8";

/* -- 비쥬얼 -- */
.searchInsurance-visual{
  height:610px;
  position:relative;
  background-color:#fad381;
  border-bottom:1px solid #e5e5e7
}
.searchInsurance-visual-con{
  width:833px;
  height:calc(100% - 45px);
  margin:45px auto 0;
  background:url(./img/visual-con-bg.png) no-repeat right 0;
}
.searchInsurance-visual-con h2,
.searchInsurance-visual-con p{
  margin-left:40px;
}
.searchInsurance-visual-con h2{
  font-size:1.1rem;
  line-height: 1.4;
}
.searchInsurance-visual-con h2 > strong{
  font-size:2.1rem;
}
.searchInsurance-visual-con p{
  margin-top:15px;
  font-size:0.85rem;
  line-height: normal;
  color:#585858;
}
.searchInsurance-visual-con .sec30{
  display:inline-block;
  width:72px;
  height:36px;
  vertical-align: text-bottom;
  background:url(./img/30sec.png) no-repeat 0 0;
}
.searchInsurance-visual-img{
  margin-top:38px;
  position:relative;
}
.searchInsurance-visual-img .img-web,
.searchInsurance-visual-img .img-mobile{
  position:absolute;
}
.searchInsurance-visual-img .img-mobile{
  top:95px;
  right:5px;
}
.searchInsurance-visual-img .img-web::before,
.searchInsurance-visual-img .img-mobile::before{
  content:"";
  display:block;
  position:absolute;
}
.searchInsurance-visual-img .img-web::before{
  width:76px;
  height:77px;
  top:-38px;
  left:-46px;
  background:url(./img/spot-w.png) no-repeat 0 0;

}
.searchInsurance-visual-img .img-mobile::before{
  width:41px;
  height:86px;
  top:30px;
  right: -43px;
  background:url(./img/spot-m.png) no-repeat 0 0;
}


.visual-btn-area{
  width:1200px;
  margin:45px auto 0;
}
.visual-btn-area.btn-block{
  padding:27px 0 40px 185px;
  text-align:left;
}
.visual-btn-area .btn{
  display:block;
  width:320px;
  height:48px;
  margin-bottom:10px;
  font-size:0.85rem;
  color:#fff;
  line-height:2.5;
  background-color:#548ed0;
  overflow:hidden
}
.visual-btn-area .arrow{
  display:inline-block;
  width:24px;
  height:2px;
  margin-left:10px;
  position:relative;
  vertical-align: middle;
  background-color:#fff;
  overflow:visible;
}
.visual-btn-area .arrow::before,
.visual-btn-area .arrow::after {
  content: "";
  display: block;
  width: 10px;
  height: 2px;
  position: absolute;
  background-color:#fff;
}
.visual-btn-area .arrow::before{
  top:-3px;
  left:17px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.visual-btn-area .arrow::after{
  top:3px;
  left:17px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}


/* -- 왜 사람들이 슈가추천을 선택할까요? -- */
.searchInsurance .title{
  height:140px;
  margin-top:0;
  font-size:0;
  text-align:center;
  background:none;
}
.searchInsurance .title h2{
  display:inline-block;
  vertical-align: middle;
  font-size:1.4rem;
}
.searchInsurance .title strong{
  font-size:2.35rem;
}

.choice-list{
  width:1100px;
  margin:0 auto 75px;
  text-align:center;
}
.choice-list li{
  display:inline-block;
  width:25%;
  margin-left:10%;
  position:relative;
  vertical-align: top;
}
.choice-list li:first-child{
  margin-left:0;
}
.choice-list li ~ li::before{
  content: "";
  display:block;
  width:170px;
  position:absolute;
  top:64px;
  left:-140px;
  border-top:1px solid #777;
}
.choice-txt{
  margin-top:35px;
}
.choice-txt h3{
  margin-bottom:15px;
  font-size:0.65rem;
  letter-spacing: 0.5px;
}
.choice-txt p{
  font-weight:bold;
  letter-spacing: 0.5px;
}
/* -- 슈가 추천을 받아야 하는 3가지 이유 -- */
.searchInsurance .article2{
  background-color:#f4f4f6;
}
.reason{
  width:1100px;
  margin:0 auto;
  padding:0 84px;
}
.reason li{
  height:342px;
  padding:0;
  position:relative;
  text-align:left;
  border-top:1px solid #fff;
}
.reason-txt{
  display:inline-block;
  width:calc(9.5% + 490px);
  margin-left:0;
  padding-top:0;
  padding-left:40px;
  vertical-align: middle;
}
.reason-txt h3{
  width:auto;
  position:relative;
  font-family: 'NanumGothic-Bold', sans-serif;
  font-size:0.85rem;
  color:#000;
}
.reason-txt h3::before{
  content:"";
  display:block;
  width:24px;
  height:24px;
  position:absolute;
  top:-0.4vw;
  left:-3vw;
  background:url(./img/check.png) no-repeat center/contain;
}
.reason-txt p{
  margin-top:3.9%;
  color:#666;
  letter-spacing: 0.5px;
}
.reason-txt p~p{
  margin-top:0;
}
.reason-txt p::before{
  content:"-";
  display:inline-block;
  margin-right:5px;
}
.reason li:nth-child(1){
  border-top:0 none;
}
.reason-img{
  display:block;
  position:absolute;
  top:18px;
  right:0;
  text-align:center;
}
.reason-img img{
  width:100%;
  max-width:400px;
}


/* -- review -- */
/* title default 는 위에 공통으로 적용 중 */
.review-list-area{
  max-width:1200px;
  margin:90px auto;
  padding:0 1em;
  font-size:0.75rem;
}
.review-list{
  width:calc(103% - 5px);
  text-align:center;
}
.review-list li{
  float:none;
  display:inline-block;
  width:366px;
  min-height:214px;
  margin-right:9px;
  position:relative;
  border:1px solid #dcdcdc;
  -webkit-box-shadow: 0 2px 1px 2px #f4f4f4;
  -moz-box-shadow: 0 2px 1px 2px #f4f4f4;
  box-shadow: 0 2px 1px 2px #f4f4f4;
}

.review-txt-area::before{
  content:"";
  display:block;
  width:47px;
  height:41px;
  position:absolute;
  top:-20px;
  left:20px;
  background:url(./img/double-quotes-off.png) no-repeat 0 0;
}
.review-list li:hover .review-txt-area::before{
  background:url(./img/double-quotes-on.png) no-repeat 0 0;
}
.review-txt-area{
  padding:38px 35px;
}
.review-txt-area::before{
  content:"";
  display:block;
  width:47px;
  height:41px;
  position:absolute;
  top:-20px;
  left:20px;
  background:url(./img/double-quotes-off.png) no-repeat 0 0;
}
.review-txt-area h3{
  position:relative;
  font-size:0.6rem;
  font-weight:bold;
  color:#333333;
  text-align:center;
}
.counter{
  display:block;
  height:10px;
  padding-left:18px;
  position:absolute;
  top:0;
  right:0;
  background:url(./img/counterIcon.png) no-repeat 0 0;
}
.review-txt{
  margin-top:30px;
  font-size:0.65rem;
  color:#333333;
  text-align:left;
  letter-spacing:0.5px;
}
.review-img{
  width:65px;
  height:65px;
  padding-top:0;
  position:absolute;
  left:calc(50% - 32px);
  bottom:-32px;
  -webkit-border-radius:50%;
  -moz-border-radius:50%;
  border-radius:50%;
  background-color:#FFF;
  -webkit-box-shadow: 0 0 5px 3px #e7e7e7;
  -moz-box-shadow: 0 0 5px 3px #e7e7e7;
  box-shadow: 0 0 5px 3px #e7e7e7;
  overflow:hidden;
}
.review-img img{
  width:100%;
  height:100%;
  border:0 none;
}

.searchInsurance footer.btn-block{
  margin-bottom:54px;
  padding:25px 0;
  text-align:center;
  border-top:1px solid #dddddd;
  border-bottom:1px solid #dddddd;
  background-color:#f4f4f6;
}
.searchInsurance footer p,
.searchInsurance footer .btn{
  display:inline-block;
  vertical-align: middle;
  font-size:0.8rem;
}
.searchInsurance footer p{
  text-align:left;
}
.searchInsurance footer .btn{
  width:320px;
  height:48px;
  margin-left:200px;
  color:#fff;
  line-height:2.5;
  background-color:#548ed0;
}


@media all and (max-width:1199px){

}