<section class="im_view">
	<div class="mycontainer6">
		<div class="container">
			<div class="view_area6">
				<div class="v6_title">
			  		<h2>{{view_title}} </h2>
			  		<ul>
			  			<li class="v6_infor_date">{{view_date|date:'yyyy-MM-dd'}}</li>
	            		<li class="v6_infor_count">{{view_count}}</li>
			  		</ul>
				</div>
				<div class="v6_detail">
				  <div class="v6_detail_view">
				  	<div class="infor_table">
				        <figure>
				          <img src="./partials/common/img/{{avatarImg()}}" alt="{{gender}}">
				        </figure>
				        <table>
				          <colgroup>
				            <col width="50px">
				            <col>
				            <col width="50px">
				            <col>
				          </colgroup>
				          <tbody>
				          <tr>
				            <th>상품</th>
				            <td colspan="3">
				              {{view_etc3}}
				            </td>
				          </tr>
				          <tr>
				            <th>이름</th>
				            <td>{{view_name}} / <span id="checkGender">여</span></td>
				            <th>나이</th>
				            <td>{{view_age}}세</td>
				          </tr>
				          </tbody>
				        </table>
			      	</div>
				    <p>
					  <div ng-bind-html="view_content"></div>
				    </p>
				    <span class="align-middle"></span>
				  </div>
				  <div class="v6_detail_img">
				    <img src="" alt="">
				  </div>
				</div>
			</div>
			<article class="suger_06">
		    <section class="suger_an_06">
		      <div class="suger_header">
		        <h3>슈가답변</h3>
		        <span class="v6_infor_date">2016-07-07</span>
		      </div>
		      <div class="suger_body">
		        <figure>
		          <img src="./partials/layout/contents/indemnityBoard/img/icon04.gif" alt="">
		        </figure>
		        <div class="suger_body_con">
		          <h4>* OOO님의 계약 현황</h4>
		          <ul>
		            <li>
		              <span>보유 계약</span>
		              <span>총 2건</span>
		            </li>
		            <li>
		              <span>월납입 보험료</span>
		              <span>3410000원</span>
		            </li>
		            <li>
		              <span>현재 납입하신 보험료</span>
		              <span>24000000원</span>
		            </li>
		            <li>
		              <span>납입해야 할 보험료</span>
		              <span>120000000원</span>
		            </li>
		          </ul>
		          <h4>
		            * 종합의견
		          </h4>
		          <p>
		            소득대비 보험료 수준이.... 슈가의 올바른 활용법을 통해 자세한...
		            소득대비 보험료 수준이.... 슈가의 올바른 활용법을 통해 자세한...
		            소득대비 보험료 수준이.... 슈가의 올바른 활용법을 통해 자세한...
		            소득대비 보험료 수준이.... 슈가의 올바른 활용법을 통해 자세한...
		          </p>
		      	</div>
					</div>
		    </section>
				<section class="suger_table" recommend-table></section>
			</article>
			<div class="btn_area6">
				<input type="button" class="btn_001" value="이전">
				<input type="button" class="btn_001" value="다음">
				<input type="button" class="btn_004 hiddenOpen" ng-click="returnList()" value="목록">
			</div>
		</div>
		<div class="box_margin"></div>
	</div>
</section>