<section>
  <div>
    <h2>
      <span>핵심보장분석</span>
      내가 가입한 보험 분석받기
    </h2>
  </div>
  <article>
    <div>
      <h3>32세 연구원(사무직) 보험료가 적정한지 궁금합니다.</h3>
      <p>
        <span>2016-07-07</span>
        <span>10</span>
      </p>
    </div>
    <div>
      <div>
        <figure>
          <img src="" alt="">
        </figure>
        <table>
          <colgroup>
            <col>
            <col>
            <col>
            <col>
          </colgroup>
          <tbody>
          <tr>
            <th>상품</th>
            <td rowspan="3">
              (무) 메리츠화재 보험
            </td>
          </tr>
          <tr>
            <th>이름</th>
            <td>박 * 하 / 여</td>
            <th>나이</th>
            <td>45세</td>
          </tr>
          </tbody>
        </table>
      </div>
      <p>
        교보 큰사랑 CI보험과 메리츠실비보험 가입중인데요<br>
        요새 CI보험이 문제가 많아 계속유지할 지 고민됩니다.<br>
        지금 7년납입중이구요 분석부탁드립니다.
      </p>
    </div>
    <div>
      <figure>
        <img src="" alt="">
      </figure>
    </div>
  </article>
  <article>
    <section>
      <div>
        <h3>슈가답변</h3>
        <p>
          <span>2016-07-07</span>
        </p>
      </div>
      <div>
        <figure>
          <img src="" alt="">
        </figure>
        <div>
          <h4>
            * OOO님의 계약 현황
          </h4>
          <ul>
            <li>
              <span>보유 계약</span>
              <span>총 2건</span>
            </li>
            <li>
              <span>월납입 보험료</span>
              <span>3410000원</span>
            </li>
            <li>
              <span>현재 납입하신 보험료</span>
              <span>24000000원</span>
            </li>
            <li>
              <span>납입해야 할 보험료</span>
              <span>120000000원</span>
            </li>
          </ul>
        </div>
        <div>
          <h4>
            * 종합의견
          </h4>
          <p>
            소득대비 보험료 수준이.... 슈가의 올바른 활용법을 통해 자세한...
            소득대비 보험료 수준이.... 슈가의 올바른 활용법을 통해 자세한...
            소득대비 보험료 수준이.... 슈가의 올바른 활용법을 통해 자세한...
            소득대비 보험료 수준이.... 슈가의 올바른 활용법을 통해 자세한...
          </p>
        </div>
      </div>
    </section>
    <section recommend-table></section>
  </article>
  <div>
    <button class="btn btn-default">이전</button>
    <button class="btn btn-default">다음</button>
    <button class="btn btn-default">목록</button>
  </div>
</section>