<!-- layout : .container -->
<div class="container clearfix">
  <!-- logo : left -->
  <h1 class="logo-header ir">
    <a href="#InsuranceGuide#" ng-click="broadcastGoToHome()">Sugar</a>
    <!--<a href="#InsuranceGuide#" ng-click="main()">Sugar</a>-->
  </h1>

  <!-- gnb & lnb -->
  <nav class="clearfix">
    <ul class="lnb clearfix">
      <li>
        <a href="#" ng-click="knowExactly($event)">보험바로알기</a>
        <ul class="sub-lnb">
          <li><a href="#">올바른 보험</a></li>
          <li><a href="#">보험의 진실</a></li>
        </ul>
      </li>
      <li>
        <!--<a href="#" ng-click="searchInsurance()">내게 맞는 보험 찾기</a>-->
        <a href="#" ng-click="suggest()">보험 상품 추천받기</a>
      </li>
      <li>
        <a href="#" ng-click="indemnityAnalysis($event)">보장분석</a>
        <ul class="sub-lnb">
          <li><a href="#">핵심보장소개</a></li>
          <li><a href="#">내 보장 분석</a></li>
          <li><a href="#">보장분석게시판</a></li>
        </ul>
      </li>
      <li>
        <a href="#" ng-click="productGuide($event)">상품 가이드</a>
        <ul class="sub-lnb">
          <li><a href="#">실손의료비</a></li>
          <li><a href="#">정기보험</a></li>
          <li><a href="#">진단비</a></li>
          <li><a href="#">연금</a></li>
        </ul>
      </li>
    </ul>
    <ul class="gnb clearfix">
      <li class="help"><a href="#">Help</a></li>
      <li class="signin"><a href="#" ng-click="signIn()">Sing in</a></li>
    </ul>
  </nav>
</div>

