<!-- layout : .container -->
<div class="container clearfix" ng-controller="headerController">
  <!-- logo : left -->
  <h1 class="logo-header ir">
    <a href="#" ng-click="broadcastGoToHome()">Sugar</a>
    <!--<a href="#InsuranceGuide#" ng-click="main()">Sugar</a>-->
  </h1>

  <!-- gnb & lnb -->
  <nav class="clearfix">
    <ul class="lnb clearfix">
      <li>
        <a href="#" ng-click="knowExactly($event)">보험바로알기</a>
        <ul class="sub-lnb">
          <li><a href="#" ng-click="properInsurance()">올바른 보험</a></li>
          <li><a href="#" ng-click="tellTruth()">보험의 진실</a></li>
          <!--<li><a href="#" ng-click="suggest()">테스트링크 : 결과</a></li>-->
        </ul>
      </li>
      <li>
        <!--<a ui-sref="searchInsurance" href="#searchInsurance" >내게 맞는 보험 찾기</a>-->
        <a href="#searchInsurance" ng-click="searchInsurance()">내게 맞는 보험 찾기</a>
        <!--<a href="#" ng-click="suggest()">내게 맞는 보험 찾기</a>-->
      </li>
      <li>
        <a href="#" ng-click="productGuide($event)">상품 가이드</a>
        <ul class="sub-lnb">
          <li><a href="#" ng-click="expensesGuide()">실손의료비</a></li>
          <li><a href="#" ng-click="termGuide()">정기보험</a></li>
          <li><a href="#" ng-click="diagnosisGuide()">진단비</a></li>
          <li><a href="#" ng-click="pensionGuide()">연금</a></li>
        </ul>
      </li>
      <li>
        <a href="#" ng-click="indemnityIntroduce($event)">보장분석</a>
        <ul class="sub-lnb">
          <li><a href="#" ng-click="indemnityIntroduceSub()">핵심보장소개</a></li>
          <li><a href="#" ng-click="indemnityAnalysis()">내 보장 분석</a></li>
          <li><a href="#" ng-click="indemnityBoard()">보장분석게시판</a></li>
        </ul>
      </li>
      <li class="gnb help">
        <a href="#" ng-click="help($event)">Help</a>
        <ul class="sub-lnb">
          <li><a href="#" ng-click="myPage()">마이페이지</a></li>
          <li><a href="#" ng-click="oneAnd()">1:1 게시판</a></li>
          <li><a href="#" ng-click="faQuestions()">FAQ</a></li>
        </ul>
      </li>
      <li class="gnb signin"><a href="#" ng-click="signIn()">Login</a>
      </li>
    </ul>
  </nav>

</div>
<div class="sub-bg"></div>
<!--<sign-in-modal visible="showSingIn"></sign-in-modal>-->




