<section class="wrapper" ng-controller="contentsController">
  <article class="article1">
    <section class="visual">
      <ul class="visual-event">
        <li class="event-list" ng-repeat="event in eventList">
          <a href="#">{{$index+1}}</a>
          <div class="event-area">
            <div class="event-con">
              <div class="event-txt-area">
                <h2 class="event-tit-ir">{{event.titIr}}</h2>
                <!--<p class="event-tit"><img ng-src="./partials/layout/contents/main/img/{{event.titBg}}" alt="{{event.titAlt}}"></p>-->
                <h3 class="event-txt type0">
                  {{event.txt0}}
                </h3>
                <p class="event-txt type1">
                  {{event.txt21}}
                </p>
                <p class="event-txt type2">
                  {{event.txt11}}
                </p>
                <p class="event-txt">
                  {{event.txt12}}<br>
                  {{event.txt13}}
                </p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </section>
    <div class="exactly-area">
      <div class="container">
        <ul class="move-menu">
          <li>
            <a href="#" ng-click="recommend()"></a>
            <div class="is-inlineBlock">
              <h3>
                <span class="num-list">01</span>
                내게 맞는 보험 찾기
              </h3>
              <p class="move-txt01">
                어떤 상품을, 얼마만큼의 보장금액으로, 얼마의 보험료에, 어떤 방법으로 가입해야 하는가?
                <span class="is-block">고객을 위한 맞춤 제안</span>
              </p>
            </div>
            <figure class="is-inlineBlock"><img src="./partials/layout/contents/main/img/move01.png" alt="서"></figure>
            <span class="align-middle"></span>
            <!--<span class="lnb-move">바로가기</span>-->
          </li>
          <li>
            <a href="#" ng-click="properInsurance()"></a>
            <div class="is-inlineBlock">
              <h3>
                <span class="num-list">02</span>
                보험 바로 알기
                <span class="small">(올바른 보험 활용법)</span>
              </h3>
              <p class="move-txt02">
                보험에 대해 최대한 쉽게 설명하고, 보험을 최대한 활용할 수 있도록 합리적인 기준과 방법을 제시
              </p>
            </div>
            <figure class="is-inlineBlock"><img src="./partials/layout/contents/main/img/move02.png" alt="책자"></figure>
            <span class="align-middle"></span>
            <!--<span class="lnb-move">바로가기</span>-->
          </li>
        </ul>
      </div>
    </div>
  </article>

  <article class="article2 recommend">
    <div class="container type2">
      <div class="title">
        <h2>슈가의 보험 추천이 <strong>일리있는</strong> 이유</h2>
        <span class="align-middle"></span>
      </div>
      <ul class="recommend">
        <li ng-repeat="recommend in recommendList" >
          <div class="recommend-img"><img ng-src="./partials/layout/contents/main/img/{{recommend.imageUrl}}" alt=""></div>
          <div class="recommend-txt">
            <h3 class="check-icon">{{recommend.tit}}</h3>
            <p>{{recommend.txt}}</p>
          </div>
        </li>
      </ul>
    </div>
  </article>
  <article class="article3">
    <div class="container">
      <div class="title type2">
        <h2>보험의 진실편<small>We're the best professionals in the field</small></h2>
        <span class="align-middle"></span>
      </div>
      <div class="truth-list-area">
        <ul class="truth-list">
          <li ng-repeat="truth in truthList" ng-click="truthView(truthList[$index].sbidx)">
            <div class="truth-img-area">
              <div class="truth-img">
                <img ng-src="{{truth.apiServer}}{{truth.imageUrl}}" alt="">
              </div>
              <div view-detail></div>
            </div>
            <div class="truth-txt-area">
              <h3>{{truth.tit}}</h3>
              <p class="truth-date">{{truth.date | date:'yyyy-MM-dd'}}</p>
              <p class="truth-txt"><div ng-bind-html="truth.txt"></div></p>
            </div>
          </li>
        </ul>
        <div class="truth-btn-area">
          <button class="truth-more" ng-click="tellTruth()">more</button> <!-- 기능 적용 안됨 -->
        </div>
      </div>
    </div>
  </article>
</section>
