@charset "utf-8";

.forms{
  min-height:790px;
  padding:45px 26px 50px 47px;
  position:relative;
}
.nav::after{
  content:"";
  display:block;
  width:calc(100% - 2px);
  height:5px;
  margin:0 auto;
  background:url(./img/nav-tabs-before.png) repeat-x 0 0;
}
.nav-tabs{
  border-bottom:0 none;
}
.nav-tabs li.col-sm-4{
  width:33.33333%;
  padding:0;
  text-align:center;
  border:1px solid #e5e5e5;
}
.btn-tab01.shadow{
  background:url(./img/tabs-1-off.png) no-repeat right 0;
  border-right:0 none;
}
.btn-tab02.shadow{
  background:url(./img/tabs-2-off.png) no-repeat left 0;
}
.btn-tab03.shadow{
  background:url(./img/tabs-2-off.png) no-repeat left 0;
}
.nav-tabs li a{
  margin-right:0;
  border:0 none;
  -webkit-border-radius:0;
  -moz-border-radius:0;
  border-radius:0;
}
.nav-tabs li:hover a{
  background:none;
  border:0 none;
}
.nav-tabs li.on{
  background:none;
}
.nav-tabs li.on a{
  padding-top:6px;
  background:none;
  border:0 none;
  border-top:4px solid #373c44;
}
.nav-tabs i{
  display:inline-block;
  width:34px;
  height:34px;
  margin-right:9px;
  vertical-align: middle;
  background:url(./img/sprite.png) no-repeat;
}
.btn-tab01 i{
  background-position:0 0;
}
.btn-tab02 i{
  background-position:-35px 0;
}
.btn-tab03 i{
  background-position:-310px 0;
}
.btn-tab01.on i{
  background-position:0 -35px;
}
.btn-tab02.on i{
  background-position:-35px -35px;
}
.btn-tab03.on i{
  background-position:-310px -35px;
}
.form-horizontal, .form-group{
  margin:0;
}
.form-horizontal .form-group{
  margin:0;
}
.col-sm-6{
  padding-bottom: 30px;
}
.form-horizontal .control-label{
  text-align:left;
}
.form-horizontal .control-label.type2{
  padding-top:3px
}
.form-area{
  display:none;
  margin-top:32px;
}
.form-area.on{
  display:block;
}
.form-area .form-group{
  margin-bottom:14px;
}
.col-sm-2{
  width:24.666667%;
}
.col-sm-10{
  width:75.333333%;
  padding-right:0;
  text-align:center;
}
.form-group .control-label{
  padding-top:13px;
  word-break: keep-all;
}
.col-sm-10 .radio-inline{
  padding:0;
  position:relative;
  text-align:center;
}
.col-sm-10 > p{
  text-align:left;
}
.radio{
  width:179px;
  height:53px;
  vertical-align: middle
}
.sex .radio{
  border:1px dashed #c4c9cc;
}
.sex .radio.on{
  border:1px solid #000;
}
.form-horizontal .radio{
  padding-top:8px;
}
.radio::before{
  content:"";
  display:inline-block;
  width:32px;
  height:35px;
  margin-right:17px;
  vertical-align: middle;
  background:url(./img/sprite.png) no-repeat
}
.male::before{
  background-position:-75px 0;
}
.female::before{
  background-position:-75px -35px;
}
.radio.type2::before,
.radio.type3::before{
  content:"";
  display:inline-block;
  width:32px;
  height:32px;
  vertical-align: middle;
  background:none;
  border:1px solid #c4c9cc;
}
.radio.type3::before{
  margin-left:-12px;
}
.radio.type2.on::before{
  background:url(./img/sprite.png) no-repeat -110px 0;
  border:0 none;
}
.radio.type3.on::before{
  background:url(./img/sprite.png) no-repeat -110px -35px;
  border:0 none;
}
.radio + input[type=radio]{
  position:absolute;
  margin-left:0;
  top:0;
  z-index:-1;
  visibility:hidden;
}
.sub-radio{
  display:none;
  min-height:267px;
}
.sub-radio.married{
  display:block
}

.in-sub{
  padding-top:10px;
  background-color:#f7f6f4;
  overflow:hidden;
}

.add-area{
  margin-top:5px;
  padding:15px 30px 15px;
  background-color:#f7f6f4;
  overflow:hidden;
}
.add-area ul{
  float:right;
  overflow:hidden;
}
.add-area li p{
  float:left;
  width: 198px;
  height:40px;
  margin-left:10px;
  margin-bottom:5px;
  text-align:center;
  line-height:40px;
  font-weight:bold;
  border:1px dashed #c4c9cc;
  background-color:#FFF;
}
.add-area .childSex{
  width:130px;
  margin-left:0;
}
.add-area .childDel{
  width: 30px;
  margin-left:0;
}

.addBox{
  float:right;
  position:relative;
  padding-right:90px;
}

.addBox select{
  display:block;
  width:247px;
  margin-bottom:5px;
  padding: 0.5em 0.5em;
  font-size:0.8rem;
  color:#b8b8b8;
  border: 1px solid #c4c9cd;
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color:#fff;
  outline: 0;
}

.addBox::before {
  content: "";
  display:block;
  position: absolute;
  top: 17px;
  right: 110px;
  width: 0;
  height: 0;
  margin-top: -1px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #333;
}

.addBox input{
  width:247px;
  height:40px;
  padding:0 0.5rem;
  font-size:0.8rem;
  color:#b8b8b8;
  border: 1px solid #c4c9cd;
}

.addBox button{
  width:82px;
  height:85px;
  position:absolute;
  top:0;
  right:0;
  background-color:#fff;
  border: 1px solid #c4c9cd;
}
.addBox button::before {
  content:"";
  display:block;
  width: 18px;
  height: 18px;
  margin:0 auto 10px;
  background:url(./img/sprite.png) no-repeat -150px 0;

}
.form-group p.notice{
  padding:5px;
}
.form-group.type-height{
  min-height:373px;
}
.notice small{
  display:block;
  font-size:0.6rem;
  font-weight:300;
  color:#a7a7a7;
  word-break: keep-all;
}
.add-area.infamily{
  margin-bottom:5px;
  padding:25px 30px 25px 0;
  position:relative;
}
.infamily .input-area {
  margin-top:10px;
}
.input-area span{
  position:absolute;
  top:9px;
  left:90px;
  font-size:0.9rem;
}
p.notice.type2{
  padding-top:0;
  padding-left:15px;
}

.step-2 .notice{
  padding-left:7px;
}
.is-pl{
  padding-left:15px;
}
.jobs,
.uploadInfo{
  margin-top:20px;
  padding:10px;
  background-color:#f7f6f4;
  overflow:hidden;
}
.jobs .col-sm-6{
  padding:10px;
  position: relative;
}
.jobs .radio{
  width:100%;
  height:100%;
  padding:5px;
}
.radio.type4::before{
  content:"";
  display:inline-block;
  width:80px;
  height:80px;
  margin-right:14px;
  padding:5px;
  vertical-align: middle;
  background:url(./img/sprite.png) no-repeat
}
.type4.salarymen::before{
  background:url(./img/sprite.png) no-repeat 0 -75px;
}
.type4.business::before{
  background:url(./img/sprite.png) no-repeat -81px -75px;
}
.type4.housewife::before{
  background:url(./img/sprite.png) no-repeat -162px -75px;
}
.type4.otherjobs::before{
  background:url(./img/sprite.png) no-repeat -243px -75px;
}
.type4 small{
  position:absolute;
  top:53px;
  left:95px;
}
.type4.on{
  outline:5px;
  -webkit-box-shadow: 0 0 5px 2px #8db2ea;
  -moz-box-shadow: 0 0 5px 2px #8db2ea;
  box-shadow: 0 0 5px 2px #8db2ea;
  -webkit-border-radius:3px;
  -moz-border-radius:3px;
  border-radius:3px;
}
.form-type2{
  min-height:535px;
  margin-bottom:15px;
}
.form-area .form-group.type2{
  margin-bottom:0;
}
.form-control input[type=file]{
  position:relative;
  z-index:1;
  background-color: transparent;
  opacity:0;
  cursor:pointer;
}
.form-control input[type=file]:focus{
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  outline:0 none;
  cursor:pointer;
}
.form-control .btn-search{
  width:80px;
  height:42px;
  top:-1px;
  left:inherit;
  right:0;
  line-height:2.5;
  text-align:center;
  color:#fff;
  background-color:#548ed0;
}
.upload-list{
  min-height:75px;
  margin-top:17px;
  padding-bottom:15px;
}
.upload-list i{
  display:inline-block;
  width:16px;
  height:16px;
  margin-right:10px;
  vertical-align: middle;
  background:url(./img/sprite.png) no-repeat -350px 0;
}
.upload-list .del{
  display:inline-block;
  width:10px;
  height:10px;
  margin-left:30px;
  vertical-align: middle;
  background:url(./img/sprite.png) no-repeat -350px -35px;
}
.uploadInfo{
  min-height:258px;
  padding:35px 45px;
}
.uploadInfo li{
  list-style: decimal;
}
p.control-label.is-padding{
  padding-top:0;
}
.btn-block{
  width:100%;
  text-align:right;
}
.btn{
  width:49.629%;
  height:53px;
  font-size:0.85rem;
  line-height:2.6;
  color:#FFF;
  background-color:#373c44;
}

.output{
  background:url(./img/sprite.png) no-repeat 0 -170px
}
.myContainer{
  position:absolute;
  top:30px;
  right:35px;
  font-size:0.85rem;
}
.myContainer a::before{
  content:"";
  display:inline-block;
  width:34px;
  height:29px;
  margin-right:6px;
  vertical-align:bottom;
  background:url(./img/sprite.png) no-repeat -150px -35px
}

.form-txt-board{
  height:100%;
  min-height:420px;
  margin-top:35px;
  padding:60px 35px 35px;
  position:relative;
  background:#fad381 url(./img/form-txt-bg.png) no-repeat right 0;
}
.txt-board{
  font-size:0.9rem;
  line-height:1.8;
}
.info-txt{
  padding:0 15px 3px;
  font-size:1.5rem;
  font-weight:normal;
  color:#aa9465;
  vertical-align: super;
  border-bottom:1px solid #988762;
}

.btn-output{
  width:100%;
  padding:0 35px;
  position:absolute;
  left:0;
  bottom:35px;
}

.btn-output .btn{
  width:35%;
  height:42px;
  line-height:1.9;
}
.save{
  background-color:#fff;
  color:#5c5c5c;
}

.notice-info{
  width:87.835%;
  position:absolute;
  bottom:50px;
}
.notice-info > h3{
  padding-right:10px;
  font-size:1.2rem;
  font-weight:300;
  text-align:right;
}
.notice-info > h3 strong{
  font-size:1.2rem;
  font-weight:bold;
}
.notice-info .dott{
  position:relative;
}
.notice-info .dott::before{
  content:"";
  display:block;
  width:3px;
  height:3px;
  position:absolute;
  top:-8px; left:calc(50% - 2px);
  background:url(./img/sprite.png) no-repeat -181px 0;

}

.notice-info > p{
  float:right;
  width:520px;
  margin-top:27px;
  padding-right:10px;
  font-size:0.65rem;
  line-height:1.2;
  word-break: keep-all;
  text-align:justify;
}

.notice-info strong{
  font-size:0.85rem;
}

.notice-info > p::before{
  content:"";
  display:block;
  float:left;
  width:110px;
  height:59px;
  margin-right:54px;
  background:url(./img/sprite.png) no-repeat -190px 0;

}