<section id="properInsurance" class="wrapper" ng-controller="properInsController">
  <header class="properInsurance_header">
    <div class="container">
        <div class="tit">
	        <h2>
            <strong>슈가, 보험</strong> 가입의<br>
            <strong class="is-color">기준</strong>을 말하다.
	        </h2>
	        <p class="tit_01">합리적 보험소비를 위한 <br>올바른 보험 가이드</p>
	        <!--<p class="tit_02">적은 비용으로 큰 위험에 대비하는 것이 <br>보험의 핵심 가치입니다.</p>-->
        </div>
    </div>
  </header>
  <div class="container properInsurance_con">
    <aside id="properInsAside" class="left_bar" ng-include="properInsAsideArea"></aside>
    <section id="properInsCon" ng-include="properInsConArea"></section>
  </div>
</section>
