<section class="suggest-contents">
  <div class="suggest-con-top">
    <div class="suggest-form suggest-top-form">
      <input type="checkbox" id="article2-checked-01" checked>
      <label for="article2-checked-01"><span class="arIdx"></span></label>
    </div>
    <div class="suggest-notice">
      <h4>
        정기보험<small><span>{{userAge}}세 {{userSex}}</span> 월 <span>{{insurInfoList[0].monthPay + insurInfoList[1].monthPay + insurInfoList[2].monthPay | number}}</span>원</small>
      </h4>
      <p>
        부양가족이 있는 당신이 예상치 못하게 죽으면 가족들에게 경제적 어려움이 발생하기 때문에 이를 대비하기 위하여 추천합니다.
      </p>
    </div>
    <span class="align-middle"></span>
    <div class="suggest-info-img">
      <img src="./partials/layout/contents/suggest/img/title-img2.png" alt="기본부터 갖추기~">
    </div>
  </div>
  <div class="suggest-con-bottom">
    <div class="suggest-bottom-left">
      <article class="suggest-expain">
        <div class="suggest-why">
          <h4>이렇게 가입해라!</h4>
          <ul class="why-list why-list-type2 type3">
            <li>
              <p class="why-list-tit type2">현재 기준 필요한 사망보험금은 {{insurInfoList[0].insurMoneyKor}}이며 나이대별로 65세까지 점차적으로 줄어 들도록 3개의 상품으로 나누어서 가입</p>
              <div class="why-sub why-sub-table">
                <table>
                  <colgroup>
                    <col width="39.613527%">
                    <col>
                  </colgroup>
                  <thead>
                  <tr>
                    <th>나이</th>
                    <th>소득을 기초로 산정한 필요 사망보장금액</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr ng-repeat="insurInfoL in insurInfoList">
                    <td>{{insurInfoL.ageTerm}}</td>
                    <td class="td-bg">{{insurInfoL.insurMoneyKor}}</td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </li>
            <li>
              <p class="why-list-tit type2">상품별 가입방법</p>
              <div class="why-sub why-sub-table">
                <table>
                  <colgroup>
                    <col>
                    <col>
                    <col>
                    <col>
                  </colgroup>
                  <thead>
                  <tr>
                    <th></th>
                    <th>보험기간</th>
                    <th>보장금액</th>
                    <th>납입기간</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr ng-repeat="insurInfoL in insurInfoList">
                    <td>상품 {{$index + 1}}</td>
                    <td class="td-bg">{{insurInfoL.insurTerm}} </td>
                    <td>{{insurInfoL.insurableKor}}</td>
                    <td rowspan="{{insurInfoList.length}}" ng-show="$index == 0">전기납</td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </li>
          </ul>
          <button class="more-info" ng-click="termMore()">자세히 알아보기</button>
        </div>
        <div class="suggest-why suggest-why-type2">
          <h4>왜?</h4>
          <ul class="why-list why-list-type2">
            <li>
              <p class="why-list-tit">현재 필요한<br>사망보장금액 {{insurInfoList[0].insurMoneyKor}} 왜?!</p>
              <ul class="why-sub">
                <li>사망보장금액은 미래 소득을 대체 할 수 있는 금액으로 산정되어야 합니다.</li>
                <li>당신의 현 소득을 기초로 은퇴 전까지 벌어 들일 미래 소득을 예측하여 산출 되었습니다.</li>
              </ul>
            </li>
            <li>
              <p class="why-list-tit">선택형 가입</p>
              <ul class="why-sub">
                <li>현재시점에서 필요한 총 사망보험금은 {{insurInfoList[0].insurMoneyKor}}이지만 살면서 벌게 되는 소득을 차감하면 사망보험금은 점차적으로 낮아져야 합니다.</li>
              </ul>
            </li>
            <li>
              <p class="why-list-tit">보험기간 1년 / 1년납</p>
              <ul class="why-sub">
                <li>사망보험금이 지속적으로 낮아지는 소비자 중심의 상품은 현재 판매되고 있지 않습니다. 슈가는 사망보험금을 조금씩 낮추는 최적의 조합을 제시 합니다.</li>
              </ul>
            </li>
          </ul>
          <button class="more-info" ng-click="termMore()">자세히 알아보기</button>
        </div>
      </article>
    </div>
    <div class="suggest-bottom-right type2">
      <div class="suggest-product lower-price">
        <div class="lowest">
          <input type="radio" name="term_ins" id="article2-list1-check1" checked>
          <label for="article2-list1-check1" ng-click="termMoneyView(1)">최저가</label>
        </div>
        <ul class="product-list-type2 graph-type">
          <li class="view-type2" ng-repeat="lowerPrice in lowerPriceList">
            <div class="suggest-table type2">
              <table>
                <colgroup>
                  <col width="28.253425%">
                  <col width="16.09589%">
                  <col>
                  <col>
                  <col width="23.630137%">
                </colgroup>
                <tbody>
                <tr class="tr-1st">
                  <td rowspan="2">
                    <figure>
                      <img ng-src="./partials/layout/contents/suggest/img/ci/{{lowerPrice.logoImg}}" alt="로고">
                    </figure>
                  </td>
                  <td>월보험료</td>
                  <td>가입금액</td>
                  <td>보장기간</td>
                  <td rowspan="2">
                    <button class="btn-join">온라인 바로가입</button>
                  </td>
                </tr>
                <tr class="tr-2nd">
                  <td class="ellipsis">월 {{lowerPrice.monthPay | number}}원</td>
                  <td>{{lowerPrice.insurableKor}}</td>
                  <td>{{lowerPrice.term}}</td>
                </tr>
                </tbody>
              </table>
            </div>
          </li>
        </ul>
      </div>
      <div class="suggest-graph-area">
        <ul class="graph-list-box">
          <li class="suggest-graph graph-list1" ng-class="lowerPriceList.length == 1?'on':''">
            <p class="suggest-graph-premium">
              <span>(월 {{lowerPriceList[0].monthPay}}원)</span>
            </p>
            <p class="suggest-coverage">
              <span>{{lowerPriceList[0].insurableKor}}</span>
            </p>
          </li>
          <li class="suggest-graph graph-list2" ng-class="lowerPriceList.length == 2?'on':''">
            <p class="suggest-graph-premium">
              <span>(월 {{lowerPriceList[0].monthPay}}원)</span>
              <span>(월 {{lowerPriceList[1].monthPay}}원)</span>
            </p>
            <p class="suggest-coverage">
              <span>{{lowerPriceList[0].insurableKor}}</span>
              <span>{{lowerPriceList[1].insurableKor}}</span>
            </p>
          </li>
          <li class="suggest-graph graph-list3" ng-class="lowerPriceList.length == 3?'on':''">
            <p class="suggest-graph-premium">
              <span>(월 {{lowerPriceList[0].monthPay}}원)</span>
              <span>(월 {{lowerPriceList[1].monthPay}}원)</span>
              <span>(월 {{lowerPriceList[2].monthPay}}원)</span>
            </p>
            <p class="suggest-coverage">
              <span>{{lowerPriceList[0].insurableKor}}</span>
              <span>{{lowerPriceList[1].insurableKor}}</span>
              <span>{{lowerPriceList[2].insurableKor}}</span>
            </p>
          </li>
        </ul>
      </div>
      <div class="suggest-product" ng-repeat="lowerPriceLST in lowerPriceList2">
        <div class="lowest">
          <input type="radio" name="term_ins" id="article2-list1-check2">
          <label for="article2-list1-check2" ng-click="termMoneyView(2)">다음 최저가</label>
        </div>
        <ul class="product-list-type2">
          <li class="view-type2" ng-repeat="lowerPrice in lowerPriceLST">
            <div class="suggest-table type2">
              <table>
                <colgroup>
                  <col width="28.253425%">
                  <col width="16.09589%">
                  <col>
                  <col>
                  <col width="23.630137%">
                </colgroup>
                <tbody>
                <tr class="tr-1st">
                  <td rowspan="2"><img ng-src="./partials/layout/contents/suggest/img/ci/{{lowerPrice.logoImg}}" alt="로고"></td>
                  <td>월보험료</td>
                  <td>가입금액</td>
                  <td>보장기간</td>
                  <td rowspan="2">
                    <button class="btn-join">온라인 바로가입</button>
                  </td>
                </tr>
                <tr class="tr-2nd">
                  <td class="ellipsis">월 {{lowerPrice.monthPay | number}}원</td>
                  <td>{{lowerPrice.insurableKor}}</td>
                  <td>{{lowerPrice.term}}</td>
                </tr>
                </tbody>
              </table>
            </div>
          </li>
        </ul>

      </div>
      <div class="termBtnMore">
      	<button class="btn" ng-click="getNextInsurResult()" >다음 최저가 보기</button>
      </div>
    </div>
  </div>
</section>